.new-content
	.container
		.new-content__wrapper
			.new-content__photo
				img.new-content__img(src="img/new_2.jpg", alt="photo")
			.new-content__desc
				p.new-content__text.text-2.text-2--1 Каждая компания, продающая товары онлайн, вынуждена ежедневно контролировать огромное количество параллельных процессов.  Любая сделка происходит при вовлечении маркетологов (привлечение трафика), менеджеров колл-центра (коммуникация с клиентом), работников производства и склада (создание и упаковка), а также представителей службы логистики (доставка). 
				p.new-content__text.text-2.text-2--1 Чтобы не допустить сбоев на одном из шагов и сформировать позитивный опыт у клиента, компании прибегают к автоматизации процессов управления заказами через специальное ПО — CRM-систему.
				p.new-content__text.text-2.text-2--1 CRM помогает не только минимизировать риск ошибки, но также снизить зависимость от ручного фактора и увеличить масштабы производства без необходимости расширять штат.
				p.new-content__text.text-2.text-2--1 В процессе создания собственной CRM, Acurella стремилась соединить высокую производительность системы и интуитивно понятный интерфейс. CRM-решением одновременно можно пользоваться в 7 ролях:
			ul.new-content__list.list-new.text-2.text-2--1
				li.list-new__item как менеджер;
				li.list-new__item как оператор колл-центра;
				li.list-new__item как тимлид;
				li.list-new__item как топ-менеджер;
				li.list-new__item как администратор;
				li.list-new__item как топ-менеджер компании;
				li.list-new__item как сотрудник службы логистики.
			.new-content__desc
				p.new-content__text.text-2.text-2--1 Таким образом, с CRM от Acurella можно не только автоматизировать весь процесс управления заказом, но также в несколько кликов отследить результат через систему агрегированных отчетов.