header.header-new
	.container
		.header-new__content
			.header-new__col.date
				p.date__day 04
				p.date__month Августа 
					br
					| 2020
			h1.header-new__title.title.title--dark.title--2 Эталонная работа операторов и менеджеров за счет современной CRM