section.content-vacancy
	.container
		.content-vacancy__inner
			.content-vacancy__row
				h2.content-vacancy__title.title.title--dark.title--4.column-big О вакансии
				.content-vacancy__info
					p.content-vacancy__text.text-2.text-2--1 We're looking for a Lead Product Designer to use critical thinking, empathy, and strong prototyping skills to design flows and experiences that drive outcomes for the people who book tasks in our marketplace. 
					p.content-vacancy__text.text-2.text-2--1 The world has changed. The value of trust between individuals and communities has never been more important. Join us in creating value between Clients and Taskers, regardless of race, gender, age, upbringing, or status.
					p.content-vacancy__text.text-2.text-2--1 This position reports to the Design Manager for Marketplace and works closely with product designers, researchers, product managers, engineers, data analysts, and stakeholders to craft technically feasible designs that drive business goals, support user needs, and add delight. 
			.content-vacancy__row
				h2.content-vacancy__title.title.title--dark.title--4.column-big Обязанности
				.content-vacancy__info
					ul.content-vacancy__list.list-tasks.text-2--1
						li.list-tasks__item Understand and advocate for everyday Clients on our Marketplace
						li.list-tasks__item Drive impactful and memorable outcomes through regularly shipping your work
						li.list-tasks__item Use storytelling to influence and persuade your audience.
						li.list-tasks__item Mentor your peers to become better designers.
						li.list-tasks__item Set the bar for design craft, best practices in Figma, interaction design, and handoff.
						li.list-tasks__item Define proxy metrics to identify successful prototypes before implementation.
						li.list-tasks__item Communicate and collaborate to establish timelines for projects, get regular feedback on designs, and move projects forward to completion.
						li.list-tasks__item Contribute quality patterns and documentation to our Design System, Meadow.
						li.list-tasks__item Uphold our design team values.
						li.list-tasks__item Share early, share often.
			.content-vacancy__row
				h2.content-vacancy__title.title.title--dark.title--4.column-big Квалификация
				.content-vacancy__info
					ul.content-vacancy__list.list-tasks.text-2--1
						li.list-tasks__item 7+ years of experience in a product design role (UX and visual design)
						li.list-tasks__item Expert-level knowledge and efficiency designing products in Figma
						li.list-tasks__item A portfolio showcasing great looking consumer-facing web & mobile applications that have shipped and that were impactful for the company
						li.list-tasks__item Impeccable interaction design skills (Framer, Principle, etc)
						li.list-tasks__item Demonstrated ability to optimize for pragmatism and delight, based on intended outcome
						li.list-tasks__item Robust facilitation skills and ability to lead cross-functional design activities
						li.list-tasks__item Broad understanding of contributing to and leveraging a design system
						li.list-tasks__item Able to conduct qualitative and quantitative research to make informed data-driven user-centric design decisions 
						li.list-tasks__item Strong communication skills; the ability to clearly explain your design thinking and process to anyone in the company
						li.list-tasks__item Strong attention to detail
		button.content-vacancy__btn.btn.btn--full Отправить заявку