header.header-vacancy
	.container
		h1.header-vacancy__title.title.title--dark.title--2 Lead Product Designer
		.header-vacancy__detals
			p.header-vacancy__text Managements, Development
			p.header-vacancy__text Ukraine, Kyiv
		i.fico.fico-questionArrow