<!DOCTYPE html>
html(lang=LANG.locale)
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    include head.pug
    block head
      title Acurella
  body
    include ../menu/menu.pug
    block content
    include ../interruption.pug
    include ../footer.pug
    include scripts.pug
    block scripts