section.philosophy
	.container
		.philosophy__top
			img.philosophy__photo(src="img/svg/about-map.svg", alt="map")
			.philosophy__content
				h2.philosophy__title.title.title--dark.title--2 Стратегия
				p.philosophy__text.text-2.text-2--1 Гарантировать владельцам бизнеса качественные услуги по разработке программного обеспечения, его внедрению и поддержке в режиме 24/7. Высокие стандарты качества, которые применяются к каждому продукту, делают их сверхнадежными, производительными и интуитивно понятными для каждого пользователя.
			.philosophy__content
				h2.philosophy__title.title.title--dark.title--2 Миссия
				p.philosophy__text.text-2.text-2--1 Снабдить клиентов надежными и удобными решениями, которые помогут упростить работу бизнеса, отстроиться от конкурентов и выйти на новые результаты. Мы стремимся превратить каждого клиента в адвоката бренда и строить отменную репутацию за счет практических кейсов из различных бизнес-отраслей.
		.philosophy__bottom
			.philosophy__left
				h2.philosophy__title.title.title--dark.title--2 Философия команды
				.philosophy__desc
					p.philosophy__text.text-2.text-2--1 Решениями Acurella успешно пользуются более 5000 пользователей по всему миру. Желая сохранить отменную репутацию, мы привлекаем и удерживаем разработчиков, которые соответствуют самым высоким стандартам производительности и этики. 
					p.philosophy__text.text-2.text-2--1 Команда Acurella непрерывно отслеживает IT-тренды и повышает квалификацию, бросая себе новые вызовы.
			.philosophy__photos.photos
				.photos__wrap.photos__wrap--1
					img.photos__item(src="img/photo_1.jpg", alt="photo")
				.photos__wrap.photos__wrap--2
					img.photos__item(src="img/photo_2.jpg", alt="photo")
				.photos__wrap.photos__wrap--3
					img.photos__item(src="img/photo_3.jpg", alt="photo")
				.photos__wrap.photos__wrap--4
					img.photos__item(src="img/photo_4.jpg", alt="photo")
