section.solutions
	.container
		.solutions__top
			h2.solutions__title.title.title--dark.title--3.column-big Необходимое ПО в&nbsp;одном месте
			p.solutions__desc.text-2.text-2--2 Мы стремимся создавать комплексные решения, которые в полной мере закрывают задачи клиента. Каждый этап сделки строго контролируется и фиксируется системой: начиная от привлечения клиентов (СPA), заканчивая выполнением заказа (СRM) и быстрой доставкой за счет своевременного пополнения запасов (SCM).
		.solutions__wrap
			.solutions__col.solution_result
				p.solution_result__ttl Май 2019
				.solution_result__wrap
					p.solution_result__item Call Center predictive calling flows. Integrations with CRM,WMS 1.0
					p.solution_result__item CIS Coverage
			.solutions__col.solution_result
				p.solution_result__ttl Февраль 2020
				.solution_result__wrap
					p.solution_result__item Dynamic order lifecycle
					p.solution_result__item 3rd party phone lines support, guaranteed size of pool per Communication program
					p.solution_result__item Operators bonus systems, permissions, loyalty programs per offer support
			.solutions__col.solution_result
				p.solution_result__ttl Сентябрь 2020
				.solution_result__wrap
					p.solution_result__item LeadHub Continuous Deployment establishment, dynamic inbound/outbound routes support
					p.solution_result__item Analytics System integration, event streaming to BI, Transport layer refactoring (polling to streaming)
			.solutions__col.solution_result
				p.solution_result__ttl Июль 2021
				.solution_result__wrap
					p.solution_result__item Thai, Mexico, Vietnam, Singapore orders, VAT calculators, logistics
					p.solution_result__item WMS 2.0 Integrations, WMS to WMS 2.0 migration. P&L, invoices, regulation reports
					p.solution_result__item CRM WMF integration, Call Server 1.0 release, new locations/locales support
			.solutions__col.solution_result
				p.solution_result__ttl ∞
				.solution_result__wrap