include mixins/advantage.pug
-
	const advantageArray = [
		'Доступ к сайтам и подсистемам платформы 24/7/365',
		'Создание эффективной экосистемы внутри предприятия',
		'HTTP API для упрощения интеграции систем'
	];

+advantage(advantageArray)