footer.footer
	.container
		.footer__top
			.footer__col.column
				img.footer__logo(src="img/svg/logo-b.svg", alt="logo")
				p.footer__desc.text--3 Acurella ltd – компания разработки программного обеспечения полного&nbsp;цикла.
			.footer__links-wrap
				ul.links
					li.links__item
						a.links__link(href="#") О компании
					li.links__item
						a.links__link(href="#") Контакты
					li.links__item
						a.links__link(href="#") Карьера 
							span 9
				ul.links
					li.links__item
						a.links__link(href="#") Кейсы
					li.links__item
						a.links__link(href="#") CPA
					li.links__item
						a.links__link(href="#") CRM
					li.links__item
						a.links__link(href="#") SCM
					li.links__item
						a.links__link(href="#") Интеграции
			.footer__data.column
				a.footer__link-tel(href="tel:(+357) 22 090244") (+357) 22 090244
				p.footer__text.text--3 Цериу, 136 2 этаж,
					br
					| Строволос, 2045, Никосия,
					br
					| Кипр
			a.footer__btn.btn.btn--empty-dark(href="#") Посмотреть демо
		.footer__bottom
			p.footer__copy.text--3 © 2020 Acurella. Все права защищены.
			.footer__info
				a.footer__link(href="#") Условия
				a.footer__link(href="#") Политика конфиденциальности
			a.footer__link-email.column(href="mailto:support@acurella-tl.com") support@acurella-tl.com
			.footer__social.social
				a.social__item(href="#")
					i.fico.fico-in
				a.social__item(href="#")
					i.fico.fico-tw
				a.social__item(href="#")
					i.fico.fico-fb