- var FORM = LANG.form;
- var BUTTONS = LANG.btns;

form.form-int(action="/", method="post")
	select.select.form-int__select.js-select--product
		option
		option(value="CPA") CPA
		option(value="CRM") CRM
		option(value="SCM") SCM
	input.input.form-int__input(type="email", name="email" placeholder=FORM.email, required)
	button.form-int__btn.btn.btn--full(type="submit")= BUTTONS.btn_text_1