div.interruption
	.container
		h2.interruption__title.title.title--light.title--4 Ищете способ ускорить достижение 
			br
			| бизнес-целей? Попробуйте демо-версию
		form.interruption__form-int.form-int(action="/", method="post")
			select.select.form-int__select.js-select--product
				option
				option(value="CPA") CPA
				option(value="CRM") CRM
				option(value="SCM") SCM
				option(value="Интеграции") Интеграции
			input.input.form-int__input(type="email", name="email" placeholder="Ваш email", required)
			button.form-int__btn.btn.btn--full(type="submit") Посмотреть демо