mixin new(item)
	a.new(href=item.link)
		img.new__img(src=item.src, alt="photo")
		.new__info
			p.new__ttl.title.title--dark.title--5!=item.ttl
			p.new__date!=item.date

-
	const newArray = [
		{
			link: 'new-1.html',
			src: 'img/new_4.jpg',
			ttl: 'Как COVID-19 навсегда изменил бизнес-процессы',
			date: '23 октября 2020'
		},
		{
			link: 'new-2.html',
			src: 'img/new_1.jpg',
			ttl: 'Теперь СPА-маркетингом управлять проще: новая система от Acurella',
			date: '12 сентября 2020'
		},
		{
			link: 'new-3.html',
			src: 'img/new_2.jpg',
			ttl: 'Эталонная работа операторов и менеджеров за счет современной CRM',
			date: '04 августа 2020'
		},
		{
			link: 'new-4.html',
			src: 'img/new_5.jpg',
			ttl: 'Цифровая трансформация: бонус или залог выживания?',
			date: '20 июня 2020'
		},
		{
			link: 'new-5.html',
			src: 'img/new_3.jpg',
			ttl: 'Своевременные закупки в нужном объеме с новым решением от Acurella',
			date: '19 мая 2020'
		},
		{
			link: 'new-6.html',
			src: 'img/new_6.jpg',
			ttl: 'Преимущества API-интеграции',
			date: '05 апреля 2020'
		}
	];

section.news
	.container
		h2.news__title.title.title--dark.title--3 Новости
		.news__slider.js-news-slider
			each item in newArray
				+new(item)