- var NEWS = LANG.news;

mixin new(item)
	a.new(href=item.link)
		picture
			source(srcset='/img/' + item.src + '@2x.jpg 2x, /img/' + item.src + '.webp 1x')
			img.new__img(src='/img/' + item.src + '.jpg', alt="photo")
		.new__info
			p.new__ttl.title.title--dark.title--5!=item.ttl
			p.new__date!=item.date


section.news
	.container
		h2.news__title.title.title--dark.title--3= NEWS.title
		.news__slider.js-news-slider
			each item in NEWS.newArray
				+new(item)