.advantages-prod
	padding-top: 100px
	padding-bottom: 122px
	&--green
		background: #38A7A9
	.list-adv
		display: flex
		align-items: flex-start
		.fico
			color: $white
		&__text
			color: $white
			max-width: 89%