.description
	padding-top: 140px
	padding-bottom: 140px
	&--crm, &--cpa
		+r(1024)
			.description
				&__row
					&:nth-of-type(1)
						.description
							&__col
								max-width: 45%
								margin-right: 50px
					&:nth-of-type(2)
						.description
							&__col
								max-width: 61%
								right: -40px
		+r(768)
			.description
				&__row
					flex-direction: column
					&:nth-of-type(1)
						margin-bottom: 30px
						.description
							&__col
								margin-right: 0
								margin-bottom: 20px
								max-width: 360px
							&__desc
								max-width: 100%
					&:nth-of-type(2)
						flex-direction: column-reverse
						.description
							&__col
								max-width: 510px
								right: auto
								margin-bottom: -20px
		+r(640)
			.description
				&__row
					&:nth-of-type(1)
						.description
							&__col
								max-width: 320px
					&:nth-of-type(2)
						.description
							&__col
								max-width: 450px
		+r(480)
			.description
				&__row
					&:nth-of-type(1)
						.description
							&__col
								max-width: 260px
					&:nth-of-type(2)
						.description
							&__col
								max-width: 400px
								margin-bottom: 0
	&--crm
		.description
			&__row
				&:nth-of-type(1)
					padding-left: 17px
					margin-bottom: 98px
					.description
						&__col
							margin-right: 110px
						&__desc
							padding-top: 140px
							max-width: 463px
				&:nth-of-type(2)
					.description
						&__col
							max-width: 792px
							width: 100%
							position: relative
							right: -52px
						&__desc
							padding-top: 134px
		+r(1440)
			.description
				&__row
					&:nth-of-type(1)
						.description
							&__col
								max-width: 470px
								width: 100%
								margin-right: 59px
					&:nth-of-type(2)
						.description
							&__col
								max-width: 752px
					&:nth-of-type(1), &:nth-of-type(2)
						.description
							&__desc
								padding-top: 0
		+r(1300)
			.description
				&__row
					&:nth-of-type(1)
						margin-bottom: 80px
						.description
							&__col
								max-width: 460px
								margin-right: 66px
					&:nth-of-type(2)
						.description
							&__col
								max-width: 650px
		+r(1140)
			.description
				&__row
					&:nth-of-type(1)
						margin-bottom: 50px
						padding-left: 0
						.description
							&__col
								max-width: 420px
					&:nth-of-type(2)
						.description
							&__col
								max-width: 578px
	&--cpa
		.description
			&__row
				&:nth-of-type(1)
					margin-bottom: 83px
					.description
						&__col
							margin-left: -56px
							margin-right: 114px
						&__desc
							padding-top: 113px
				&:nth-of-type(2)
					.description
						&__col
							position: relative
							right: -70px
						&__desc
							padding-top: 190px
		+r(1440)
			.description
				&__row
					&:nth-of-type(1)
						margin-bottom: 70px
						.description
							&__col
								margin-left: -25px
								margin-right: 78px
								max-width: 550px
					&:nth-of-type(2)
						.description
							&__col
								max-width: 720px
					&:nth-of-type(1), &:nth-of-type(2)
						.description
							&__desc
								padding-top: 0
		+r(1300)
			.description
				&__row
					&:nth-of-type(1)
						margin-bottom: 60px
						.description
							&__col
								margin-right: 59px
								max-width: 511px
					&:nth-of-type(2)
						.description
							&__col
								max-width: 650px
		+r(1140)
			.description
				&__row
					&:nth-of-type(1)
						margin-bottom: 60px
						.description
							&__col
								margin-right: 48px
								max-width: 460px
					&:nth-of-type(2)
						.description
							&__col
								max-width: 610px
								right: -40px
	+r(1300)
		padding: 120px 0
	+r(1140)
		padding: 80px 0
	+r(768)
		padding: 60px 0
	+r(480)
		padding: 50px 0
	&__top
		padding-bottom: 91px
		margin-bottom: 110px
		border-bottom: 1px solid #CFD8E0
		+r(1300)
			padding-bottom: 70px
			margin-bottom: 90px
		+r(1140)
			padding-bottom: 60px
			margin-bottom: 80px
		+r(1024)
			padding-bottom: 50px
			margin-bottom: 70px
		+r(480)
			padding-bottom: 30px
			margin-bottom: 50px
	&__row
		display: flex
		+r(1440)
			align-items: center
	&__col
		flex-shrink: 0
	&__ttl
		margin-bottom: 37px
		line-height: 115%
		+r(1300)
			margin-bottom: 30px
		+r(1140)
			margin-bottom: 20px
		+r(1024)
			margin-bottom: 12px
		+r(768)
			br
				display: none
	&__desc
		+r(1024)
			max-width: 100%
			width: 50%
		+r(768)
			width: 100%
	&__text
		color: $light-grey
		max-width: 510px
		width: 100%
		+r(1024)
			font-size: 17px
		+r(768)
			max-width: 100%
		+r(480)
			font-size: 16px
			line-height: 167%
	&__title
		text-align: center
		max-width: 750px
		width: 100%
		margin: auto
		margin-bottom: 61px
		+r(1140)
			margin-bottom: 50px
		+r(768)
			margin-bottom: 30px
	.form-int
		&__input
			border-top: 1px solid #cfd8e0
			border-bottom: 1px solid #cfd8e0
			+r(640)
				border-top: none
				border-left: 1px solid #cfd8e0
				border-right: 1px solid #cfd8e0
		&__select, .select2-container .select2-selection--single, .form-int__select
			border: 1px solid #cfd8e0
			border-right: none
			+r(640)
				border-right: 1px solid #cfd8e0


// .container
// 	background: repeating-linear-gradient(90deg, #e2edc1, #e2edc1 70px, #fff 70px, #fff 110px)
// 	+r(1440)
// 		background: repeating-linear-gradient(90deg, #e2edc1, #e2edc1 70px, #fff 70px, #fff 100px)
// 	+r(1300)
// 		background: repeating-linear-gradient(90deg, #e2edc1, #e2edc1 60px, #fff 60px, #fff 90px)
// 	+r(1140)
// 		background: repeating-linear-gradient(90deg, #e2edc1, #e2edc1 60px, #fff 60px, #fff 80px)
// 	+r(1024)
// 		background: none