.faq
	padding-top: 170px
	padding-bottom: 184px
	+r(1440)
		padding: 150px 0
	+r(1300)
		padding: 100px 0
	+r(768)
		padding: 60px 0
	+r(480)
		padding: 50px 0
	&__wrapper
		display: flex
		align-items: flex-start
		+r(768)
			display: block
	&__left
		+r(1024)
			&.column-big
				max-width: calc(100%/3);
		+r(768)
			&.column-big
				max-width: 100%
				margin-right: 0
	&__title
		margin-bottom: 30px
		+r(768)
			text-align: center
	&__info
		&--mob
			display: none
		+r(768)
			text-align: center
			&--desc
				display: none
			&--mob
				display: block
	&__text
		max-width: 290px
		width: 100%
		margin-bottom: 20px
		color: #818C97
		+r(768)
			max-width: 100%
			margin-bottom: 10px
	&__link-email
		text-decoration: none
		color: $light-blue
		font-size: 16px
		&:hover
			text-decoration: underline
	&__right
		flex: 1
		padding-top: 4px
		+r(768)
			padding-top: 0
			margin-bottom: 30px

.question
	+nlt
		margin-bottom: 23px
		padding-bottom: 24px
		border-bottom: 1px solid #CFD8E0
	+r(1300)
		+nlt
			margin-bottom: 20px
			padding-bottom: 20px
	+r(1140)
		+nlt
			margin-bottom: 17px
			padding-bottom: 17px
	+r(640)
		+nlt
			margin-bottom: 12px
			padding-bottom: 12px
	&__top
		display: flex
		align-items: center
		justify-content: space-between
		cursor: pointer
		&.active
			.fico
				color: $light-blue
				transform: rotate(90deg)
		&:hover
			.question__ttl
				text-decoration: underline
			.fico
				color: $light-blue
	&__ttl
		font-size: 18px
		line-height: 120%
		margin-right: 5px
	.fico
		font-size: 32px
		color: #BABCCD
		transition: all .3s
		+r(640)
			font-size: 28px
	&__text
		color: #818C97
		display: none
		max-width: 90%
		margin-top: 20px
		margin-bottom: 18px
		+r(1140)
			font-size: 17px
		+r(768)
			font-size: 16px
			line-height: 160%