.integration
	padding-top: 130px
	padding-bottom: 124px
	&--cpa, &--crm
		.integration
			&__col
				+r(1024)
					max-width: 100%
					width: 45%
				+r(890)
					margin-right: 0
					width: 100%
					max-width: 400px
					margin: auto
					margin-bottom: 30px
				+r(768)
					max-width: 360px
				+r(640)
					max-width: 320px
				+r(480)
					max-width: 260px
					margin-bottom: 15px
			&__photo
				+r(1024)
					max-width: 46%
				+r(768)
					max-width: 360px
					margin: auto
					margin-bottom: 10px
				+r(640)
					max-width: 320px
				+r(480)
					max-width: 260px
			&__desc
				+r(1440)
					padding-top: 0
				+r(890)
					margin-right: 30px
				+r(768)
					max-width: 100%
					margin-right: 0
	&--crm
		.integration
			&__col
				margin-right: 108px
				max-width: 547px
				width: 100%
				+r(1440)
					max-width: 538px
					margin-right: 58px
				+r(1300)
					max-width: 490px
					margin-right: 46px
				+r(1140)
					max-width: 446px
					margin-right: 30px
			&__photo
				+r(1140)
					max-width: 440px
					width: 100%
			&__desc
				padding-top: 132px
				margin-right: 143px
				+r(1440)
					padding-top: 0
				+r(1300)
					margin-right: 70px
		.slick-dots
			li
				background: transparentize($grey, .8)
				&.slick-active
					background: #13ACAC
	&--cpa
		.integration
			&__col
				max-width: 613px
				width: 100%
				margin-right: 114px
				margin-left: -72px
				padding-top: 23px
				+r(1440)
					max-width: 572px
					margin-right: 74px
					margin-left: -52px
				+r(1300)
					max-width: 524px
					margin-right: 44px
					margin-left: -32px
				+r(1140)
					max-width: 454px
					margin-right: 44px
					margin-left: -22px
				+r(1024)
					padding-top: 0
			&__photo
				padding-right: 63px
				+r(1440)
					padding-right: 10px
					max-width: 600px
					width: 100%
				+r(1300)
					max-width: 550px
					padding-right: 0
				+r(1140)
					max-width: 460px
			&__desc
				margin-right: 63px
				padding-top: 96px
		.slick-dots
			li
				background: transparentize($grey, .8)
				&.slick-active
					background: #FEAC42
	&--scm
		.integration
			&__wrap
				padding-left: 19px
				justify-content: space-between
			&__info
				max-width: 390px
				width: 100%
				padding-top: 84px
			&__col
				position: relative
				right: -10px
			&__bottom
				padding-left: 7px
			&__photo
				margin-right: 39px
			&__desc
				padding-top: 80px
		+r(1440)
			.integration
				&__wrap
					padding-left: 0
				&__col
					max-width: 650px
					width: 100%
				&__photo
					max-width: 558px
					width: 100%
				&__desc
					padding-top: 0
		+r(1300)
			.integration
				&__col
					max-width: 580px
				&__photo
					max-width: 518px
		+r(1140)
			.integration
				&__wrap
					align-items: center
				&__info
					padding-top: 0
				&__col
					max-width: 490px
				&__photo
					max-width: 439px
		+r(1024)
			.integration
				&__ttl, &__subject
					margin-bottom: 12px
				&__col, &__photo
					max-width: 48%
					position: static
				&__info, &__desc
					max-width: 50%
		+r(890)
			.integration
				&__wrap
					display: flex
		+r(768)
			.integration
				&__bottom
					flex-direction: column
				&__wrap
					flex-direction: column-reverse
				&__col, &__photo
					margin-bottom: 20px
					max-width: 390px
				&__info, &__desc
					max-width: 100%
		+r(640)
			.integration
				&__col, &__photo
					max-width: 320px
		+r(480)
			.integration
				&__col, &__photo
					max-width: 260px
		.slick-dots
			li
				background: transparentize($grey, .8)
				&.slick-active
					background: #A79873
	+r(1300)
		padding: 100px 0
	+r(1024)
		padding: 80px 0
	+r(768)
		padding: 60px 0
	+r(480)
		padding: 50px 0
	&__title
		text-align: center
		margin-bottom: 30px
		+r(1140)
			margin-bottom: 25px
		+r(1024)
			margin-bottom: 20px
		+r(768)
			margin-bottom: 13px
	&__subtitle
		max-width: 851px
		width: 100%
		margin: auto
		color: $light-grey
		text-align: center
		margin-bottom: 127px
		+r(1440)
			margin-bottom: 110px
		+r(1300)
			margin-bottom: 90px
		+r(1140)
			margin-bottom: 70px
		+r(890)
			margin-bottom: 40px
		+r(768)
			font-size: 16px
			line-height: 167%
		+r(480)
			margin-bottom: 30px
	&__wrap
		padding-bottom: 151px
		margin-bottom: 90px
		border-bottom: 1px solid #CFD8E0
		display: flex
		padding-left: 4px
		align-items: flex-start
		+r(1440)
			padding-bottom: 130px
			margin-bottom: 80px
		+r(1300)
			padding-bottom: 110px
		+r(1140)
			padding-bottom: 80px
			margin-bottom: 60px
		+r(890)
			display: block
		+r(768)
			padding-bottom: 60px
			margin-bottom: 40px
		+r(480)
			margin-bottom: 30px
			padding-bottom: 30px
			padding-left: 0
	&__col
		flex-shrink: 0
	&__ttl
		margin-bottom: 50px
		line-height: 130%
		span
			white-space: nowrap
		+r(1440)
			margin-bottom: 40px
		+r(1140)
			margin-bottom: 30px
		+r(480)
			font-size: 23px
			margin-bottom: 20px
	&__ttl-small
		text-align: center
		max-width: 460px
		width: 100%
		margin: auto
		margin-bottom: 80px
		+r(1440)
			margin-bottom: 60px
		+r(1140)
			margin-bottom: 40px
		+r(768)
			margin-bottom: 30px
		+r(640)
			margin-bottom: 20px
	.slick-list
		margin: 0 -15px
		margin-bottom: 80px
		+r(1300)
			margin-bottom: 60px
		+r(1140)
			margin: 0 -10px
			margin-bottom: 50px
		+r(768)
			margin-bottom: 40px
		+r(640)
			margin-bottom: 30px
	.slick-slide
		margin: 0 15px
		+r(1140)
			margin: 0 10px
	.slick-dots
		justify-content: center
	&__bottom
		margin-top: 98px
		padding-top: 119px
		border-top: 1px solid #CFD8E0
		display: flex
		align-items: flex-start
		+r(1440)
			margin-top: 80px
			padding-top: 100px
			align-items: center
		+r(1140)
			margin-top: 70px
			padding-top: 80px
		+r(768)
			flex-direction: column-reverse
			margin-top: 50px
			padding-top: 50px
	&__desc
		max-width: 510px
		width: 100%
	&__subject
		margin-bottom: 30px
		line-height: 130%
		+r(890)
			margin-bottom: 20px
		+r(640)
			margin-bottom: 12px
	&__text
		color: $light-grey
		+r(1024)
			font-size: 17px


.slider-int
	&__photo
		max-width: 1140px
		width: 100%
		border-radius: 7px
		overflow: hidden
		border: 1px solid #F0F0F0
		+r(1440)
			max-width: 1030px
		+r(1300)
			max-width: 935px
		+r(1140)
			max-width: 820px
		+r(1024)
			max-width: 750px
		+r(890)
			max-width: 600px
		+r(768)
			max-width: 550px
		+r(640)
			max-width: 450px
		+r(480)
			max-width: 350px


.list-optm
	display: flex
	flex-wrap: wrap
	&--green
		.list-optm__ico
			background: #13ACAC
	&--orange
		.list-optm__ico
			background: #FFAC42
			margin-bottom: 20px
			+r(1140)
				margin-bottom: 15px
			+r(480)
				margin-bottom: 10px
	&__item
		padding-bottom: 34px
		width: 290px
		&:nth-of-type(even)
			padding-left: 40px
			border-left: 1px solid transparentize(#000000, .9)
			width: 330px
		&:not(:nth-last-of-type(-n+2))
			border-bottom: 1px solid transparentize(#000000, .9)
		&:not(:nth-child(-n+2))
			padding-top: 40px
		+r(1440)
			width: 270px
			padding-right: 10px
			&:nth-of-type(even)
				padding-left: 30px
				width: 300px
			&:not(:nth-child(-n+2))
				padding-top: 30px
		+r(1300)
			width: 240px
			padding-bottom: 25px
			&:nth-of-type(even)
				width: 270px
		+r(1140)
			width: 220px
			padding-bottom: 15px
			&:nth-of-type(even)
				width: 240px
				padding-left: 20px
			&:not(:nth-child(-n+2))
				padding-top: 20px
		+r(1024)
			width: calc(100%/2)
			&:nth-of-type(even)
				width: calc(100%/2)
		+r(480)
			width: 100%
			padding-bottom: 10px
			display: flex
			align-items: baseline
			&:not(:first-of-type)
				padding-top: 10px
			&:nth-of-type(even)
				width: 100%
				padding-left: 0
				border-left: none
			&:not(:nth-child(-n+2))
				padding-top: 10px
			+nlt
				border-bottom: 1px solid transparentize(#000000, .9)
	&__ico
		margin-bottom: 30px
		display: flex
		align-items: center
		justify-content: center
		width: 20px
		height: 20px
		border-radius: 50%
		flex-shrink: 0
		+r(1300)
			margin-bottom: 20px
		+r(1140)
			margin-bottom: 15px
		+r(480)
			margin-bottom: 0
			margin-right: 15px
	.fico
		color: $white
		font-size: 9px
	&__text
		font-size: 16px
		line-height: 160%
		color: $light-grey
		+r(890)
			br
				display: none