.menu
	.container
		.menu__wrap
			a.logo.menu__logo(href="/")
				img.logo__img(src="img/svg/logo-w.svg", alt="logo")
			ul.menu__list.nav
				li.nav__item
					a.nav__link(href="#") Компания
				li.nav__item.nav__item--sub
					a.nav__link(href="#") Продукты
					.nav__submenu.submenu
						.submenu__wrap
							a.submenu__link.submenu__link--1(href="#")
								.submenu__wrap-ico
									i.fico.fico-cpa
								.submenu__info
									p.submenu__ttl CPA
									p.submenu__text Готовое решение для CPA-сетей
							a.submenu__link.submenu__link--2(href="#")
								.submenu__wrap-ico
									i.fico.fico-crm
								.submenu__info
									p.submenu__ttl CRM
									p.submenu__text Система для автоматизации сложных взаимодействий
							a.submenu__link.submenu__link--3(href="#")
								.submenu__wrap-ico
									i.fico.fico-scm
								.submenu__info
									p.submenu__ttl SCM
									p.submenu__text Cистема, управляющая сложными цепочками поставок
							a.submenu__link.submenu__link--4(href="#")
								.submenu__wrap-ico
									i.fico.fico-int
								.submenu__info
									p.submenu__ttl Интеграции
									p.submenu__text Легкая интеграция модулей
				li.nav__item
					a.nav__link(href="#") Кейсы
				li.nav__item
					a.nav__link(href="#") Контакты
			.menu__right
				.menu__lang.lang
					i.fico.fico-world
					.lang__list-wrap
						.lang__list
							a.lang-item(href="#")
								img.lang-item__ico(src="img/svg/langEN.svg", alt="langEN")
								span.lang-item__text International
							a.lang-item(href="#")
								img.lang-item__ico(src="img/svg/langRU.svg", alt="langRU")
								span.lang-item__text Русский
				button.menu__btn.btn.btn--full.js-show-popup(data-target="#popup-demo") Посмотреть демо
				.burger.js-burger(data-target="#js-mobile-menu")
					span.burger__line
					span.burger__line
					span.burger__line