- var INTEGRATION_FUNC = LANG.integrations_prod.functions;


include ../mixins/benefit

-
	const benefitIco = [
		'img/svg/benefit_interg_1.svg',
		'img/svg/benefit_interg_2.svg',
		'img/svg/benefit_interg_3.svg',
	];

section.functions-additional.functions-additional--color
	.container
		.functions-additional__top
			h2.functions-additional__title.title.title--dark.title--3.column-big= INTEGRATION_FUNC.title
			p.functions-additional__desc.text-2--2= INTEGRATION_FUNC.desc
		.functions-additional__bottom
			each benefit, key in INTEGRATION_FUNC.benefitArray
				+benefit(benefitIco[key], benefit.title, benefit.text)