- var INTEGRATION = LANG.integrations.header;


section.integrations
	.container
		h1.integrations__title.title.title--light.title--1= INTEGRATION.title
		p.integrations__text.text-2--1= INTEGRATION.desc
