section.integrations
	.container
		h1.integrations__title.title.title--light.title--1 Integrations
		p.integrations__text.text-2--1 Современный интерфейс программирования (API) от Acurella легко синхронизирует любые сервисы, сайты и ПО, необходимые вам для работы, и упростит управление бизнес-процессами. Вы можете выбрать любой тип интеграции из предложенных нами или свой вариант.
