section.integrations-desc
	.container
		.integrations-desc__top
			include ../advantage-list
		.integrations-desc__row
			h2.integrations-desc__title.title.title--dark.title--4.column-big Интеграция с Landing Commander
			.integrations-desc__info
				p.integrations-desc__text.text-2.text-2--2 Landing Commander — инструмент, который позволяет одним щелчком мыши управлять версиями рекламных материалов, осуществлять их развертывание и мониторинг
				ul.integrations-desc__list.list-tasks.text-2--2
					li.list-tasks__item Модуль для создания каркасов целевых страниц.
					li.list-tasks__item Автоматическое заполнение блоков текстом и подстановочными знаками.
					li.list-tasks__item Автоматическая загрузка материалов в Интернет.
					li.list-tasks__item Интеграция с DDL-сервисами.
					li.list-tasks__item Перенесение свойств страницы, l-n-f настроек, стилей, изображений, ссылок на связанный контент.
					li.list-tasks__item Преднастроенный набор инструментов для АВ-тестирования.
					li.list-tasks__item Поддержка Look And Feel, позволяющего одной командой изменить стиль всех блоков посадочной страницы.
					li.list-tasks__item Настройка интеграции с системой оплаты и сторонней аналитикой в режиме реального времени.
					li.list-tasks__item Динамическая поддержка нескольких языков
					li.list-tasks__item Автоматическая передача клиентских событий в агрегатор аналитики.
		.integrations-desc__row
			h2.integrations-desc__title.title.title--dark.title--4.column-big Delivery Hub
			.integrations-desc__info
				p.integrations-desc__text.text-2.text-2--2 Acurella is a vendor of software solutions for online businesses. In order to fulfil the latest needs and meet expectations of modern market players Acurella is looking for outsourcing partners to develop a new version of affiliate marketing network platform. Key goal for such a system is to maintain an active community of affiliates and advertisers, allowing them to set up highly flexible cooperation terms and conditions, while allowing network owners to keep control over the cooperation and earn certain interest.
				ul.integrations-desc__list.list-tasks.text-2--2
					li.list-tasks__item Understand and advocate for everyday Clients on our Marketplace.
					li.list-tasks__item Drive impactful and memorable outcomes through regularly shipping your work.
					li.list-tasks__item Use storytelling to influence and persuade your audience.
					li.list-tasks__item Mentor your peers to become better designers.
					li.list-tasks__item Set the bar for design craft, best practices in Figma, interaction design, and handoff.
					li.list-tasks__item Define proxy metrics to identify successful prototypes before implementation.
					li.list-tasks__item Communicate and collaborate to establish timelines for projects, get regular feedback on designs, and move projects forward to completion.
					li.list-tasks__item Contribute quality patterns and documentation to our Design System, Meadow.
					li.list-tasks__item Uphold our design team values.
					li.list-tasks__item Share early, share often.
		.integrations-desc__row
			h2.integrations-desc__title.title.title--dark.title--4.column-big Интеграция со службами доставки
			.integrations-desc__info
				p.integrations-desc__text.text-2.text-2--2 Система, которая автоматически отслеживает все шаги взаимодействия c посылками, начиная от точки отправки и заканчивая точкой получения, и сохраняет накладные, чеки и пользовательские документы.
				.integrations-desc__wrap
					ul.integrations-desc__list.list-tasks.text-2--2
						li.list-tasks__item Возможность отслеживания товаров вне WMS-системы
						li.list-tasks__item Автоматическое сигнализирование о задержках
						li.list-tasks__item Уведомление о ситуациях, где нужна включенность менеджера
						li.list-tasks__item Автоматическая генерация документации
						li.list-tasks__item Агрегированная отчетность
					ul.integrations-desc__list.list-tasks.text-2--2
						li.list-tasks__item Отслеживание заказа в режиме реального времени
						li.list-tasks__item Фреймворки для интеграции с внешними службами доставки
						li.list-tasks__item Интеграция со сторонними складами
						li.list-tasks__item Встроенные шаблоны для быстрого оформления заказов.
						li.list-tasks__item Прозрачность в работе менеджеров
		.integrations-desc__row
			h2.integrations-desc__title.title.title--dark.title--4.column-big Интеграция с колл-центрами
			.integrations-desc__info
				p.integrations-desc__text.text-2.text-2--2 Решение для call-центра предоставляет обширные отчеты в реальном времени, обеспечивает контроль качества и автоматизирует часть работы менеджеров, позволяя сократить кадровые бюджеты.
				.integrations-desc__wrap
					ul.integrations-desc__list.list-tasks.text-2--2
						li.list-tasks__item Готовый модуль скриптов 
						li.list-tasks__item Адаптация скриптов под нужный язык (DLL)
						li.list-tasks__item Нормализация нестабильных звуковых сигналов
						li.list-tasks__item Модуль обучения новичков с сохранением конфиденциальности
						li.list-tasks__item Редактирование аудиофайлов (например, нейтрализация шумов)
					ul.integrations-desc__list.list-tasks.text-2--2
						li.list-tasks__item Модуль модерации диалога  по контрольным точкам
						li.list-tasks__item Оценка качества звонков менеджера
						li.list-tasks__item Автоматизированная обработка запросов
						li.list-tasks__item Интеграция с технической поддержкой
						li.list-tasks__item Конвертация записи в текст мультиязычной поддержки