.chart
	padding-top: 90px
	padding-bottom: 180px
	+r(1440)
		padding-bottom: 140px
	+r(1140)
		padding: 80px 0
	+r(768)
		padding: 60px 0
	+r(480)
		padding-bottom: 77px
		padding-top: 41px
	&__top
		display: flex
		align-items: flex-start
		margin-bottom: 92px
		+r(1300)
			margin-bottom: 80px
		+r(1024)
			min-height: 160px
		+r(768)
			display: block
			max-width: 100%
			width: calc(100% - 80px)
		+r(640)
			width: 100%
			min-height: auto
			margin-bottom: 10px
	&__title
		+r(1024)
			&.column-big
				max-width: calc(100%/3)
		+r(768)
			margin-bottom: 13px
			&.column-big
				max-width: 100%
				margin-right: 0
	&__desc
		color: $light-grey
		max-width: 44%
		margin-right: 18px
		+r(1140)
			max-width: 40%
		+r(1024)
			max-width: 38%
		+r(890)
			max-width: 33%
		+r(768)
			max-width: 100%
			margin-right: 0
			margin-bottom: 20px
			font-size: 16px
			line-height: 167%
	&__btn
		max-width: 180px
		position: relative
		z-index: 2
		+r(480)
			max-width: 100%
	&__bottom
		margin-top: -211px
		+r(1300)
			margin-top: -188px
		+r(1140)
			margin-top: -214px
		+r(1024)
			margin-top: -239px
		+r(768)
			margin-top: -266px
			overflow-x: scroll
			padding-left: 30px
			margin-left: -30px
			margin-right: -30px
			&::-webkit-scrollbar
				position: absolute
				bottom: 0
				left: -30px
				right: -30px
				cursor: pointer
			&::-webkit-scrollbar-button
				background-repeat: no-repeat
				width: 0
				cursor: pointer
			&::-webkit-scrollbar-track
				background-color: #E3EFF0
				cursor: pointer
			&::-webkit-scrollbar-thumb
				border-radius: 30px
				background-color: #A4B5C5
				cursor: pointer
			&::-webkit-resizer
				background-repeat: no-repeat
				height: 0
				cursor: pointer
			&::-webkit-scrollbar
				height: 5px
				cursor: pointer
		+r(640)
			margin-top: 0


@-moz-document url-prefix() 
	.chart__bottom
		scrollbar-width: thin
		scrollbar-color: #A4B5C5 #E3EFF0




.graph
	display: flex
	align-items: flex-end
	position: relative
	&::before
		content: ''
		display: block
		position: absolute
		width: 1542px
		height: 328px
		background: url('../img/svg/graph.svg') no-repeat
		background-size: 100%
		z-index: 1
		top: 151px
		left: -130px
	&::after
		content: ''
		display: block
		position: absolute
		top: 0
		right: 0
		transform: translateX(100%)
		width: 0
		height: 0
		border-style: solid
		border-width: 11.5px 0 11.5px 20px
		border-color: transparent transparent transparent $light-blue
	+r(1440)
		&::before
			width: 1412px
			height: 303px
			left: -119px
			top: 159px
	+r(1300)
		&::before
			width: 1267px
			height: 274px
			left: -108px
			top: 193px
	+r(1140)
		&::before
			width: 1124px
			height: 274px
			left: -93px
	+r(1024)
		&::before
			width: calc(100% + 187px)
			height: calc(100% - 250px)
			left: -93px
			top: auto
			bottom: 57px
	+r(890)
		&::before
			height: calc(100% - 280px)
			bottom: 61px
			left: -85px
			width: calc(100% + 171px)
	+r(768)
		margin-bottom: 20px
		width: 708px
		&::before
			height: calc(100% - 311px)
			bottom: 71px
			left: -75px
			width: calc(100% + 150px)
	+r(640)
		width: 680px
		&::before
			height: 180px
			bottom: 66px
			left: -74px
			width: 835px
			background: url('../img/svg/graph_mob.svg') no-repeat
	&__col
		width: calc(100%/4)
		border-bottom: 1px solid #918FAD
		&:not(:first-of-type)
			.graph__wrap
				border-left: 1px solid #E3E7EA
				&::before
					background: $light-blue
		&:nth-of-type(1)
			border-bottom-left-radius: 10px
			border-left: 1px solid #918FAD
			.graph__wrap
				height: 215px
		&:nth-of-type(2)
			.graph__wrap
				height: 230px
		&:nth-of-type(3)
			.graph__wrap
				height: 267px
		&:nth-of-type(4)
			height: 540px
			border-right: 1px solid #918FAD
			border-bottom-right-radius: 10px
			display: flex
			align-items: flex-end
			.graph__wrap
				height: 335px
				width: 100%
		+r(1140)
			&:nth-of-type(4)
				height: 500px
		+r(1024)
			&:nth-of-type(1)
				.graph__wrap
					height: 200px
			&:nth-of-type(2)
				.graph__wrap
					height: 215px
			&:nth-of-type(3)
				.graph__wrap
					height: 250px
			&:nth-of-type(4)
				.graph__wrap
					height: 320px
		+r(640)
			&:nth-of-type(1)
				.graph__wrap
					height: 164px
			&:nth-of-type(2)
				.graph__wrap
					height: 180px
			&:nth-of-type(3)
				.graph__wrap
					height: 214px
			&:nth-of-type(4)
				height: 240px
				.graph__wrap
					height: 225px
	&__wrap
		display: flex
		flex-direction: column
		justify-content: space-between
		position: relative
		&::before
			content: ''
			display: block
			position: absolute
			top: 0
			left: 0
			transform: translateX(-50%)
			width: 7px
			height: 7px
			border-radius: 50%
			background: #4F00F7
	&__ttl
		font-weight: 500
		font-size: 20px
		line-height: 120%
		padding-left: 20px
		+r(1024)
			font-size: 18px
		+r(640)
			font-size: 16px
			padding-left: 15px
	&__label
		border-top: 1px solid #E3E7EA
		padding: 14px 20px
		color: $light-grey
		+r(640)
			padding: 15px