.header
	background: radial-gradient(36.83% 66.63% at 62.01% 60.3%, rgba(0, 160, 228, 0.2) 0%, rgba(0, 119, 228, 0) 100%), url('../img/svg/header_bg.svg') no-repeat center, $blue
	position: relative
	+r(1024)
		overflow: hidden
	+r(480)
		background: radial-gradient(36.83% 66.63% at 62.01% 60.3%, rgba(0, 160, 228, 0.2) 0%, rgba(0, 119, 228, 0) 100%),  $blue
	.slick-list
		margin: 0 -150px
	.slick-slide
		margin: 0 150px
	.slick-dots
		position: absolute
		bottom: 93px
		+r(1300)
			bottom: 73px
		+r(1024)
			bottom: 53px

.slide
	display: flex !important
	align-items: flex-end
	padding-bottom: 238px
	min-height: 900px
	&--0
		.slide__wrap-img
			width: 853px
			right: -87px
	&--1, &--2, &--3
		.slide__text
			max-width: 360px
			color: #96A3D2
		.slide__wrap-img
			width: 999px
			right: -158px
	+r(1440)
		&--0
			.slide__wrap-img
				width: 823px
		&--1, &--2, &--3
			.slide__wrap-img
				width: 960px
	+r(1300)
		min-height: 870px
		padding-bottom: 208px
		&--0
			.slide__text
				max-width: 365px
			.slide__wrap-img
				width: 760px
		&--1, &--2, &--3
			.slide__text
				max-width: 330px
			.slide__wrap-img
				width: 810px
				right: -98px
	+r(1140)
		min-height: 820px
		padding-bottom: 190px
		&--0
			.slide__text
				max-width: 327px
			.slide__wrap-img
				width: 700px
				right: -67px
		&--1, &--2, &--3
			.slide__text
				max-width: 356px
			.slide__wrap-img
				width: 700px
				right: -90px
	+r(1024)
		min-height: 710px
		padding-bottom: 160px
		&--0
			.slide__text
				max-width: 300px
			.slide__wrap-img
				width: 67%
				right: -27px
		&--1, &--2, &--3
			.slide__text
				max-width: 320px
			.slide__wrap-img
				width: calc(100% - 270px)
				right: -58px
	+r(890)
		min-height: 640px
	+r(768)
		min-height: 660px
		padding-bottom: 300px
		&--0, &--1, &--2, &--3
			.slide__text
				max-width: 100%
		&--0
			.slide__wrap-img
				width: 61%
		&--1, &--2, &--3
			.slide__wrap-img
				width: 68%
	+r(640)
		min-height: 680px
		&--0
			.slide__wrap-img
				width: 400px
		&--1, &--2, &--3
			.slide__wrap-img
				width: 88%
				right: -40px
	+r(480)
		min-height: 740px
		padding-bottom: 320px
		&--0
			.slide__wrap-img
				width: 358px
		&--1, &--2, &--3
			min-height: 740px
			padding-bottom: 290px
			.slide__wrap-img
				width: 360px
	+r(374)
		&--0
			.slide__wrap-img
				width: 318px
		&--1, &--2, &--3
			.slide__wrap-img
				width: 322px
	&__title
		max-width: 710px
		width: 100%
		margin-bottom: 53px
		span
			color: $light-blue
		+r(1440)
			margin-bottom: 40px
			max-width: 700px
		+r(1300)
			max-width: 650px
		+r(1140)
			max-width: 560px
			margin-bottom: 30px
		+r(1024)
			max-width: 60%
			margin-bottom: 25px
		+r(890)
			margin-bottom: 20px
		+r(768)
			max-width: 100%
		+r(480)
			margin-bottom: 10px
	&__text
		margin-bottom: 63px
		color: $white
		max-width: 435px
		width: 100%
		+r(1140)
			margin-bottom: 50px
		+r(1140)
			max-width: 365px
		+r(1024)
			max-width: 42%
			margin-bottom: 40px
		+r(890)
			font-size: 16px
			margin-bottom: 30px
		+r(768)
			max-width: 100%
			font-size: 17px
		+r(480)
			margin-bottom: 24px
	&__btn
		max-width: 210px
	&__wrap-img
		font-size: 0
		position: absolute
		right: 0
		bottom: 0
		&::before
			content: ''
			display: block
			position: absolute
			width: 1151px
			height: 710px
			background-image: url('../img/svg/header_decor.svg')
			background-repeat: no-repeat
			background-position: center
			background-size: 100%
			top: -30px
			right: -101px
			z-index: -1
		+r(1300)
			&::before
				width: 1061px
				height: 670px
		+r(1140)
			&::before
				width: 961px
				height: 620px
		+r(890)
			&::before
				width: 801px
				height: 480px
		+r(768)
			&::before
				width: 711px
				height: 350px
		+r(480)
			&::before
				width: 621px
				height: 310px