.news
	padding-top: 116px
	padding-bottom: 102px
	&__title
		margin-bottom: 70px
	.slick-list
		margin: 0 -20px
		margin-bottom: 60px
	.slick-slide
		margin: 0 20px
	.slick-arrow
		top: 228px
		&.next
			right: -119px
		&.prev
			left: -119px

.new
	overflow: hidden
	min-height: 500px
	display: flex !important
	flex-direction: column
	cursor: pointer
	&:hover
		.new__ttl
			text-decoration: underline
		.new__info
			border-left: 1px solid $light-blue
			border-right: 1px solid $light-blue
			border-bottom: 1px solid $light-blue
	&__img
		font-size: 0
	&__info
		display: flex
		flex-direction: column
		justify-content: space-between
		padding: 30px
		flex: 1
		border-left: 1px solid #CFD8E0
		border-right: 1px solid #CFD8E0
		border-bottom: 1px solid #CFD8E0
		border-bottom-left-radius: 13px
		border-bottom-right-radius: 13px
		transition: all .3s
	&__date
		font-size: 16px
		line-height: 20px
		color: #9DA8B2