section.description
	.container
		.description__top
			.description__row
				.description__col
					img(src="img/svg/description_crm_1.svg", alt="image")
				.description__desc
					p.description__ttl.title.title--dark.title--3 Единое информационное поле
					p.description__text.text-2--1 Платформа в разы упрощает взаимодействие колл-центра, службы продаж, клиентского сервиса и службы логистика, помогая выполнять заказы  качественно и в срок.
			.description__row
				.description__desc
					p.description__ttl.title.title--dark.title--3 Автоматический
						br
						|  контроль качества
					p.description__text.text-2--1 Большая база преднастроенных отчетов помогает легко контролировать работу команды и выполнение плана продаж, не тратя время на заполнение таблиц.
				.description__col
					img(src="img/description_crm_2.png", alt="image")
		.description__bottom
			h2.description__title.title.title--dark.title--4 Готовы испытать все возможности ПО для колл-центров и отделов продаж?
			include ../../form-int