include ../../mixins/question

-
	const questionArray = [
		{
			ttl: 'Для чего нужны CRM-системы?',
			text: 'CRM-системы созданы для контроля полного цикла каждой сделки: начиная от формирования заявки и заканчивая послепродажным обслуживанием.'
		},
		{
			ttl: 'Как они упрощают управления заказами?',
			text: 'Платформа хранит всю информацию о заказах, сохраняет изменения статусов в режиме реального времени, контролирует работу менеджеров и службы доставки, а также сама формирует отчеты. Сделки выполняются быстрее, снижается зависимость от ручного фактора, автоматизируются рутинные задачи.'
		},
		{
			ttl: 'Кто может пользоваться решениями Acurella?',
			text: 'Доступ к платформе через двухфакторную аутентификацию имеют менеджеры колл-центра, менеджеры по качеству, менеджеры по продажам, менеджеры внутренней службы логистики, тим-лиды, системные администраторы и топ-менеджеры компании.'
		},
		{
			ttl: 'Из чего состоит система?',
			text: 'Система представляет собой набор веб-приложений в сочетании с серверами фоновой обработки задач, питаемых инфраструктурой (СУБД, хранилище памяти, шина сообщений и т. д.).'
		},
		{
			ttl: 'Насколько понятна работа системы?',
			text: 'Все части системы, обращенные к пользователю, ориентированы на производительность. Каждая функция интуитивно понятна без специального обучения.'
		},
		{
			ttl: 'Насколько безопасна платформа?',
			text: 'Все сайты и общедоступные подсистемы устойчивы к DDoS-атакам, несанкционированному доступу, атакам криптоблокировок и т. д. Данные передаются по защищенным каналам (HTTPS, TLS).'
		},
		{
			ttl: 'Как долго система останется актуальной?',
			text: 'Ожидаемый срок службы системы — не менее 10 лет.'
		},
		{
			ttl: 'Как отследить эффективность сотрудников?',
			text: 'В систему уже встроены инструменты для анализа ключевых показателей эффективности с помощью настраиваемых панелей мониторинга.'
		},
		{
			ttl: 'Могут ли быть проблемы с доступом к системе?',
			text: 'Сайты и подсистемы платформы доступны 24/7/365. Мы гарантируем 99,95% времени безотказной работы.'
		}
	];

section.faq
	.container
		.faq__wrapper
			.faq__left.column-big
				h2.faq__title.title.title--dark.title--2 FAQ
				.faq__info.faq__info--desc
					p.faq__text.text-3 Ответы на популярные вопросы. Если вы не нашли ответ на ваш вопрос, вы можете задать его написав в службу поддержки 
					a.faq__link-email(href="mailto:support@acurella-tl.com") support@acurella-tl.com
			.faq__right.js-accordeon
				each question in questionArray
					+question(question)
			.faq__info.faq__info--mob
				p.faq__text.text-3 Ответы на популярные вопросы. Если вы не нашли ответ на ваш вопрос, вы можете задать его написав в службу поддержки 
				a.faq__link-email(href="mailto:support@acurella-tl.com") support@acurella-tl.com