- var FAQ_CRM = LANG.crm.faq;


include ../../mixins/question

section.faq
	.container
		.faq__wrapper
			.faq__left.column-big
				h2.faq__title.title.title--dark.title--2= FAQ_CRM.title
				.faq__info.faq__info--desc
					p.faq__text.text-3= FAQ_CRM.desc
					a.faq__link-email(href="mailto:support@acurella-tl.com") support@acurella-tl.com
			.faq__right.js-accordeon
				each question in FAQ_CRM.questionArray
					+question(question)
			.faq__info.faq__info--mob
				p.faq__text.text-3= FAQ_CRM.desc
				a.faq__link-email(href="mailto:support@acurella-tl.com") support@acurella-tl.com