- var FUNCTIONS_CRM = LANG.crm.functions;

include ../../mixins/function.pug

-
	const functionIcoArray = [
		'img/svg/function_ico_crm_1.svg',
		'img/svg/function_ico_crm_2.svg',
		'img/svg/function_ico_crm_3.svg',
		'img/svg/function_ico_crm_4.svg',
		'img/svg/function_ico_crm_5.svg',
		'img/svg/function_ico_crm_6.svg',
	];

section.functions
	.container
		h2.functions__title.title.title--light.title--2= FUNCTIONS_CRM.title
		.functions__wrapper
			each item, key in FUNCTIONS_CRM.functionsArray
				+function(functionIcoArray[key], item.ttl, item.text)