- var FUNCTION_ADD_CRM = LANG.crm.functions_additional;


include ../../mixins/benefit

-
	const benefitIcoArray = [
		'img/svg/benefit_1.svg',
		'img/svg/benefit_2.svg',
		'img/svg/benefit_3.svg',
	];


section.functions-additional
	.container
		.functions-additional__top
			h2.functions-additional__title.title.title--dark.title--3.column-big!= FUNCTION_ADD_CRM.title
			p.functions-additional__desc.text-2--2!= FUNCTION_ADD_CRM.desc
		.functions-additional__bottom
			each item, key in FUNCTION_ADD_CRM.benefitArray
				+benefit(benefitIcoArray[key], item.title, item.text)