header.header-main
	.container
		.header-main__content
			h2.header-main__title.title.title--light.title--1 Customer Relationship Management (CRM)
			p.header-main__text.text-2--1 Cистема управления взаимоотношениями с клиентами от компании Acurella контролирует поток заявок, фиксируя любые изменения в заказах и транслируя их на менеджеров.
			a.header-main__btn.btn.btn--empty(href="#") Узнать подробнее
		.header-main__wrap-img
			img.header-main__img(src="img/preview_crm.png", alt="crm")