- var HEADER_CRM = LANG.crm.header;
- var BUTTONS = LANG.btns;

header.header-main
	.container
		.header-main__content
			h2.header-main__title.title.title--light.title--1= HEADER_CRM.title
			p.header-main__text.text-2--1= HEADER_CRM.desc
			.header-main__btn.btn.btn--empty.js-scroll(data-target="#info")= BUTTONS.btn_text_2
		.header-main__wrap-img
			picture
				source(srcset="/img/preview_crm.webp", type="image/webp")
				source(srcset="/img/preview_crm@2x.png")
				img.header-main__img(src="/img/preview_crm.png", alt="crm")