header.header-prod
	.container
		.header-prod__content
			h2.header-prod__title.title.title--light.title--1 Customer Relationship Management (CRM)
			p.header-prod__text.text-2--1 Cистема управления взаимоотношениями с клиентами от компании Acurella контролирует поток заявок, фиксируя любые изменения в заказах и транслируя их на менеджеров.
			a.header-prod__btn.btn.btn--empty(href="#") Узнать подробнее
		.header-prod__wrap-img
			img.header-prod__img(src="img/preview_crm.png", alt="crm")