- var INFORMATION_CRM = LANG.crm.information;

include ../../mixins/review


.information.information--green.information--prod
	.container
		+review('review_3', INFORMATION_CRM.text, INFORMATION_CRM.name, INFORMATION_CRM.post, '/img/svg/review_ico_2.svg')