header.header-main.header-main--case
	.container
		.header-main__content
			h2.header-main__title.title.title--light.title--1 3-кратный рост продаж после диджитализации
			p.header-main__text.text-2--1 Как выйти на предсказуемые результаты с помощью цифровой экосистемы
			a.header-main__btn.btn.btn--empty(href="#") Читать подробнее
		.header-main__wrap-img
			img.header-main__img(src="img/preview_case.png", alt="scm")