- var HEADER_CASE = LANG.case.header;
- var BUTTONS = LANG.btns;

header.header-main.header-main--case
	.container
		.header-main__content
			h2.header-main__title.title.title--light.title--1= HEADER_CASE.title
			p.header-main__text.text-2--1= HEADER_CASE.desc
			a.header-main__btn.btn.btn--empty.js-scroll(data-target="#info")= BUTTONS.btn_text_2
		.header-main__wrap-img
			picture
				source(srcset="/img/preview_case@2x.png 2x, /img/preview_case.webp 1x")
				img.header-main__img(src="/img/preview_case.png", alt="scm")