- var INDICATORS = LANG.case.indicators;

mixin indicator(indicator)
	.indicator
		i.fico.fico-check
		p.indicator__text.title.title--light.title--5!=indicator

section.indicators
	.container
		.indicators__top
			h2.indicators__title.title.title--light.title--2.column-big= INDICATORS.title
			p.indicators__text.text-3= INDICATORS.desc
		.indicators__bottom
			each indicator in INDICATORS.indicatorArray
				+indicator(indicator)