- var INFORMATION_CASE = LANG.case.information;

include ../mixins/review

.information.information--case
	.container
		+review('review_photo_crm', INFORMATION_CASE.text, INFORMATION_CASE.name, INFORMATION_CASE.post)