section.purpose
	.container
		.purpose__wrap
			h2.purpose__title.title.title--dark.title--4.column-big Цели и задачи
				br
				|  системы для
				br
				|  компании
			.purpose__info
				p.purpose__text.text-2--2 Главной нашей задачей было помочь Smart Media получить новые конкурентные преимущества и масштабировать собственную деятельность.
				ul.purpose__list.list-tasks.text-2--2
					li.list-tasks__item Создать интуитивно понятную цифровую экосистему
					li.list-tasks__item Позволить пользователям систем легко взаимодействовать между собой
					li.list-tasks__item Использовать функциональные возможности системы для привлечения клиентов
					li.list-tasks__item Предоставить дополнительные сервисы для хранения и анализа данных
					li.list-tasks__item Объединить сервисы множества внешних компаний для быстрого отслеживания статусов заказа
					li.list-tasks__item Настроить динамический процесс управления заявками для улучшения общения с клиентами
					li.list-tasks__item Открыть возможность для новых трехсторонних интеграций через API
					li.list-tasks__item Настроить агрегированную отчетность для топ-менеджеров
					li.list-tasks__item Обеспечить 99,95% времени бесперебойной работы
					li.list-tasks__item Обеспечить защиту данных через системы шифрования