section.steps
	.container
		.steps__row.step
			h2.step__title.title.title--dark.title--4.column-big Описание
			p.step__text.text-2.text-2--2 Желая отвечать вызовам рынка и стремясь сформировать агрессивную конкурентную позицию, компания Smart Media переформатировала бизнес-стратегию в пользу цифровой трансформации. С помощью решений от Acurella компания стремилась развивать логистику и курьерскую доставку. По факту, построенная экосистема помогла не только отладить процесс доставки товаров, но также улучшить обслуживание клиентов, оптимизировать маркетинговые бюджеты и поддерживать корпоративную атмосферу.
		.steps__row.step
			h2.step__title.title.title--dark.title--4.column-big Клиент
			.step__wrap
				p.step__text.text-2.text-2--2 Smart Media — диверсифицированный медиа-холдинг с крупным дивизионом, который занимается продажей продукции через интернет и хочет развивать свою логистику и курьерскую доставку.
				.step__info
					img.step__img(src="img/svg/smartmedia.svg", alt="smartmedia")
					a.step__link(href="http://smartmedia.com") http://smartmedia.com
		.steps__row.step
			h2.step__title.title.title--dark.title--4.column-big Решение
			p.step__text.text-2.text-2--2 CRM для управления заказами. СРА для оптимизации маркетинговых бюджетов. SCM для планирования и контроля процессов логистики