.new-content
	.container
		.new-content__wrapper
			.new-content__photo
				img.new-content__img(src="img/new_4.jpg", alt="photo")
			.new-content__desc
				p.new-content__text.text-2.text-2--1 Согласно исследованиям 
					a.new-content__link(href="https://www.pwc.com/us/en/library/digital-iq.html" target="_blank") РwС
					| , 
					span.bold 52% 
					| компаний планируют сократить и отложить инвестиции из-за COVID-19, но только 
					span.bold 9% 
					| готовы сократить инвестиции на цифровую трансформацию.
				p.new-content__text.text-2.text-2--1 Более того: эксперты прогнозируют, что в следующем году, несмотря на экономическую рецессию вследствие эпидемии, годовые инвестиции в цифровую трансформацию вырастут на 
					span.bold 10,4% 
					| (до 1,3 трлн долларов). 
				p.new-content__text.text-2.text-2--1 Пандемия подчеркнула для бизнеса необходимость повышать 
					span.bold операционную эффективность 
					| и улучшать 
					span.bold опыт потребителей, 
					| потому что именно они способны удержать компанию на плаву в период экономической турбулентности. Неудивительно, что главным фокусом цифровой трансформации в 2020 году стало 
					span.bold сохранение бизнеса во время кризиса.
				p.new-content__text.text-2.text-2--1 Находясь в условиях карантина и ограничений, бизнес по всему миру провел некую “экспресс-диджитализацию”, учась работать по-новому. Поговорим о главных трендах:
				p.new-content__text.text-2.text-2--1.new-content__text--bold 1. Подключение десятков приложений и сервисов для удаленной работы сотрудников, внедрение электронного документооборота.
				p.new-content__text.text-2.text-2--1 Для многих клиентов диджитализация стала настоящим испытанием: сотрудники стали путаться в десятках программ, а бизнес-процессы начали ухудшаться, вместе с клиентским опытом. Более того: в некоторых компаниях сотрудники открыто саботировали переход на новые сервисы, аргументируя это техничной необразованностью.
				p.new-content__text.text-2.text-2--1 Но это не касалось клиентов 
					span.bold Acurella
					| . Благодаря удобной API-интеграции, все системы работают как целостный организм и управляются через единое окно, сохраняя актуальную информацию в режиме реального времени. Онлайн-процессами стало управлять еще проще.
				p.new-content__text.text-2.text-2--1.new-content__text--bold 2. Дистанционный контроль работы с подрядчиками
				p.new-content__text.text-2.text-2--1 Если до эпидемии снабженцы сидели “на чемоданах” и были готовы в любой момент отправиться на склад, чтобы проверить, закупить и самостоятельно перевезти нужный материал, то в период пандемии многие процессы пришлось перевести в онлайн. Часть подрядчиков вовсе ушла с рынка — и пришлось оперативно искать им замену. А процесс обмена информации между офисами в других странах усложнился еще больше после закрытия границ.
				p.new-content__text.text-2.text-2--1 И снова на выручку приходят информационные технологии. К примеру, система управления сложными цепочками поставок от 
					span.bold Acurella 
					| (SCM) помогает в автоматическом режиме отслеживать всю производственную цепочку: от планирования закупок товаров до отправки заказов. При этом неважно, в какой стране находится тот или иной склад. Система автоматически ведет учет товара, контролирует сроки доставки, подбирает оптимальный объём закупок, планирует платежи, составляет план действий на случай форс-мажора и не только.
				p.new-content__text.text-2.text-2--1.new-content__text--bold 3. Оптимизация внутренних процессов
				p.new-content__text.text-2.text-2--1 Цифровая трансформация предусматривает также трансформацию рабочей силы.  Использование инновационных технологий вроде ИИ способствует повышению производительности, эффективности работника и перехода их на новые роли. 
				p.new-content__text.text-2.text-2--1 Качественная работа команды неизменно провоцирует улучшение клиентского опыта. По мнению 
					span.bold McKinsey & Company
					| , ориентация на опыт потребителей может привести к увеличению уровня удовлетворенности на 
					span.bold 20-30% 
					| и ускорению экономического роста на 
					span.bold 20-50%
					| .
				p.new-content__text.text-2.text-2--1 Именно поэтому управление взаимоотношениями с клиентами должно быть в приоритете. 
					span.bold CRM-решение от Acurella 
					| контролирует весь цикл заказа: начиная с момента, когда клиент оставил заявку, и заканчивая послепродажным обслуживанием. Таким образом компания минимизирует риск ошибки, автоматизирует рутинные процессы и, в конечном итоге, превосходит ожидания клиента.
				p.new-content__text.text-2.text-2--1 Анализируя изменения от пандемии, ясно одно: так, как было, уже не будет. Рынок меняется — и нужно уметь быстро адаптироваться к изменениям, сохраняя высокую производительность на любых масштабах. И системы Acurella с радостью помогут вам справиться с этой целью!