- var NEW_1 = LANG.new_1;

header.header-new
	.container
		.header-new__content
			.header-new__col.date
				p.date__day 23
				p.date__month!= NEW_1.date
			h1.header-new__title.title.title--dark.title--2= NEW_1.title_main