header.header-new
	.container
		.header-new__content
			.header-new__col.date
				p.date__day 23
				p.date__month Октября 
					br
					| 2020
			h1.header-new__title.title.title--dark.title--2 Как COVID-19 навсегда изменил бизнес-процессы