.new-content
	.container
		.new-content__wrapper
			.new-content__photo
				img.new-content__img(src="/img/new_5.jpg", alt="photo")
			.new-content__desc
				p.new-content__text.text-2.text-2--1 Согласно последним исследованиям Statista от 
					a.new-content__link(href="https://www.statista.com/topics/6778/digital-transformation/#:~:text=In%202020%2C%20projections%20suggest%20that,(COVID%2D19)%20pandemic." target="_blank") 2020
					|  года, цифровая трансформация — 
					span.bold IT-приоритет №1 
					| для большинства компаний по всему миру.
				p.new-content__text.text-2.text-2--1 
					span.bold Цифровая трансформация 
					| — это интеграция цифровых технологий во все сферы бизнеса, что неизменно влечет за собой улучшение старых и появление новых операционных процессов, а также позволяет приносить больше ценности клиентам.
				p.new-content__text.text-2.text-2--1 Приведем в пример продукт Acurella.
				p.new-content__text.text-2.text-2--1 
					span.bold Решения для СPА-сетей 
					| оптимизирует управление рекламными кампаниями. Автоматизируется процесс оформления оффера, поиска web-мастера, настройки и запуска кампании, АВ-тестирования, конечного проверки качества лидов и многих других процессов.
				p.new-content__text.text-2.text-2--1 Как результат — 
					span.bold заказчик 
					| получает качественный трафик и результаты работы, оформленные в готовые отчеты, 
					span.bold веб-мастер 
					| получает деньги за выполненную работу, а 
					span.bold администраторы 
					| сети — свою заслуженную комиссию.
				p.new-content__text.text-2.text-2--1 Цифровая трансформация переводит всех участников процесса в позицию “win-win”, экономит время, помогает масштабировать успешные стратегии и снижает зависимость от ручного фактора.
				p.new-content__text.text-2.text-2--1 Согласно прогнозам, к тому же к 2023 году инвестиции в цифровую трансформацию вырастут до 
					span.bold 7 триллионов долларов
					| . И в подтверждение — немного статистики.
			ul.new-content__list.list-new.text-2.text-2--1
				li.list-new__item 
					span.bold 52% 
					| компаний планируют сократить и отложить инвестиции из-за COVID-19, но только 9% готовы сократить инвестиции на цифровую трансформацию 
					a.new-content__link(href="https://www.pwc.com/us/en/library/digital-iq.html" target="_blank") (РwС)
				li.list-new__item Интеллектуальные системы проведут 
					span.bold 70% 
					| ваших заказов уже в 2022 году 
					a.new-content__link(href="https://www.acquia.com/resources/whitepaper/forrester-report-digital-transformation?cid=7010c000002FssxAAC&ct=search&ls=google&lls=acqu_search_usa_null_transformation_null_nonbrnd&utm_source=google&utm_medium=cpc&utm_campaign=ACQU_Search_USA_Null_Transformation_Null_NonBrnd_Broad&utm_content=Digital+Transformation&utm_term=%2Bdigital+%2Btransformation&creativeID=&gclid=EAIaIQobChMIz_7L0fWT4wIV5__jBx0kuAnZEAAYASAAEgLvFvD_BwE&gclsrc=aw.ds" target="_blank") (Forrester)
				li.list-new__item 
					span.bold 93% 
					| опрошенных согласились, что ключевую роль в цифровой трансформации играют информационные технологии 
					a.new-content__link(href="https://news.sap.com/2019/03/forrester-survey-intelligent-technology-digital-transformation/" target="_blank") (Forrester)
				li.list-new__item 
					span.bold 56% 
					| гендиректоров заявляют, что совершенствование цифровых технологий привело к увеличению дохода 
					a.new-content__link(href="https://www.gartner.com/en/newsroom/press-releases/2017-04-24-gartner-survey-shows-42-percent-of-ceos-have-begun-digital-business-transformation" target="_blank") (Gartner)
				li.list-new__item Руководители заявляют, что главными преимуществами цифровой трансформации являются повышение операционной эффективности 
					span.bold (40%)
					|, более быстрое время выхода на рынок 
					span.bold (36%) 
					| и способность соответствовать ожиданиям клиентов 
					span.bold (35%) 
					a.new-content__link(href="https://www.ptc.com/en/products/plm/capabilities/digital-transformation-survey" target="_blank") (PTC)
			.new-content__desc
				p.new-content__text.text-2.text-2--1 Ожидается, что уже к 2023 году компании, которые перешли на сторону цифровой трансформации, будут обеспечивать 
					span.bold половину мирового ВВП
					|. Выбирайте решения Acurella — и будьте в их числе!
