.new-content
	.container
		.new-content__wrapper
			.new-content__photo
				img.new-content__img(src="img/new_3.jpg", alt="photo")
			.new-content__desc
				p.new-content__text.text-2.text-2--1 Способность выбрать оптимальный объем партии заказа — обязательное условие для повышения эффективности работы предприятия. Если партия слишком большая, это может быть чревато заморозкой средств. А если слишком маленькая, растут административные расходы при повторных заказах.
				p.new-content__text.text-2.text-2--1 ПО для управления цепочками поставок (SCM) помогает интегрировать управление  сырьем, материалами, продуктами и услугами, связанными с производством и логистикой. Таким образом клиент всегда получает заказанный товар вовремя и в нужном объеме, а компания сокращает издержки в разы.
				p.new-content__text.text-2.text-2--1 Пользоваться системой управления цепочкой поставок могут представители разных компаний, которые участвуют в поиске материалов, процессе изготовления продукции и ее доставке. При этом каждый из них будет иметь ограниченный доступ к процессам, где участвует.
				p.new-content__text.text-2.text-2--1 Система от Acurella может в разы упростить взаимодействие:
			ul.new-content__list.list-new.text-2.text-2--1
				li.list-new__item товароведов;
				li.list-new__item финансистов;
				li.list-new__item работников службы логистики;
				li.list-new__item диспетчеров;
				li.list-new__item администраторов;
				li.list-new__item курьеров;
				li.list-new__item топ-менеджеров.
			.new-content__desc
				p.new-content__text.text-2.text-2--1 ПО от Acurellа помогает автоматизировать управления всеми этапами снабжения предприятия и контролировать движение товаров: закупку сырья и материалов, производство, распространение продукции.