section.contacts
	.container
		.contacts__inner
			.contacts__left
				h2.contacts__title.title.title--dark.title--2 Получите бесплатную консультацию
				p.contacts__desc Отправьте ваш запрос — и мы подберем индивидуальное решение, которое наилучшим образом решит ваши бизнес-задачи
				.contacts__col
					p.contacts__place Cyprus, Nicosia
					.contacts__links
						a.contacts__link(href="tel:+35722090244") (+357) 29 660724
						a.contacts__link(href="mailto:c.office@acurella-tl.com") c.office@acurella-tl.com
					p.contacts__text.text-3 Цериу, 136 2 этаж,
						br
						| Строволос, 2045, Никосия,
						br
						| Кипр
			.contacts__form
				form.contacts__form-p.form-p(action="/", method="post")
					.form-p__wrap
						input.form-p__input.form-p__input--max.input(type="text", name="name" placeholder="Ваше имя" required)
						input.form-p__input.form-p__input--med.input(type="tel", name="name" placeholder="Телефон" required)
						input.form-p__input.form-p__input--med.input(type="email", name="name" placeholder="Email" required)
						input.form-p__input.form-p__input--med.input(type="text", name="company" placeholder="Компания" required)
						select.select.form-p__select.js-select--product
							option(value="") &nbsp;
							option(value="CPA") CPA
							option(value="CRM") CRM
							option(value="SCM") SCM
						textarea.form-p__textarea.textarea(name="textarea" placeholder="Комментарий")
					.form-p__checkbox.checkbox
						label.checkbox__label Я даю согласие на обработку личныйх данных и получение информации о специальных предложениях компании Acurella
							input.checkbox__input(type="checkbox" checked)
							span.checkbox__checkmark
								i.fico.fico-checkOrder
					button.form-p__btn.btn.btn--full(type="submit") Отправить сообщение