- var ADVANTAGES = LANG.home.advantages;

.advantages
	.advantages__row.advantages__row--1
		.container
			.advantages__wrap.advantages__wrap--top
				.advantages__col.col
					img(src="/img/svg/advantage_1.svg", alt="advantage")
				.advantages__desc
					p.advantages__ttl.title.title--dark.title--3= ADVANTAGES.title_1
					p.advantages__text.text-2--1= ADVANTAGES.desc_1
	.advantages__row.advantages__row--2
		.container
			.advantages__wrap.advantages__wrap--bottom
				.advantages__col
					img(src="/img/svg/advantage_2.svg", alt="advantage")
				.advantages__desc.col
					p.advantages__ttl.title.title--dark.title--3= ADVANTAGES.title_2
					p.advantages__text.text-2--1= ADVANTAGES.desc_2