section.chart
	.container
		.chart__top
			h2.chart__title.title.title--dark.title--5.column-big Сила современных компаний в&nbsp;диджитализации и использовании low-code технологий.
			p.chart__desc.text-2--2 Мы создаем интуитивно понятные IT-решения. А после непрерывно их улучшаем, отвечая вызовам времени.
			a.btn.btn--full.chart__btn(href="#") Посмотреть демо
		.chart__bottom
			.graph
				.graph__col
					.graph__wrap
						p.graph__ttl Разработка
							br
							| продукта и
							br
							| поиск клиентов
						p.graph__label.text-4 1 половина 
							br
							| 2019
				.graph__col
					.graph__wrap
						p.graph__ttl 800+
							br
							| пользователей
						p.graph__label.text-4 2 половина 
							br
							| 2019
				.graph__col
					.graph__wrap
						p.graph__ttl 2000+
							br
							| пользователей
						p.graph__label.text-4 1 половина 
							br
							| 2020
				.graph__col
					.graph__wrap
						p.graph__ttl 5500+
							br
							| пользователей
						p.graph__label.text-4 2 половина 
							br
							| 2020
