- var FUNCTIONS = LANG.home.functions;

include ../mixins/function.pug

-
	const functionIcoArray = [
		'img/svg/function_ico_1.svg',
		'img/svg/function_ico_2.svg',
		'img/svg/function_ico_3.svg',
		'img/svg/function_ico_4.svg',
		'img/svg/function_ico_5.svg',
		'img/svg/function_ico_6.svg',
	];

section.functions
	.container
		h2.functions__title.title.title--light.title--2= FUNCTIONS.title
		.functions__wrapper
			each item, key in FUNCTIONS.functionsArray
				+function(functionIcoArray[key], item.ttl, item.text)