- var INFORMATION_MAIN = LANG.home.information;

include ../mixins/review

.information
	.container
		+review('review_1', INFORMATION_MAIN.text, INFORMATION_MAIN.name, INFORMATION_MAIN.post, '/img/svg/review_ico_1.svg')