.information
	.container
		.information__wrapper
			.information__left
				.information__photo-wrap
					img.informatio__photo(src="img/information_photo.jpg", alt="photo")
			.information__right
				i.fico.fico-mark
				.information__text-wrap
					p.information__text До знакомства с решениями Acurella мы думали, что высокотехнологичное ПО усложняет работу компании с огромным количеством процессов. Существуют внештатные ситуации, где необходима мгновенная реакция человека. Но на практике оказалось, что комплексные системы не только контролируют каждый процесс до мелочей, минимизируя вероятность форс-мажора, но также подсказывают оптимальные пути решения, к которым не всегда додумается человек. Это высший уровень!
				.information__bottom
					.information__desc
						p.information__name Богдан Бровый
						p.information__post Head of Sales Department
					img.information__callcenter(src="img/callcenter.png", alt="callcenter")