section.statistics
	.container
		.statistics__top
			h2.statistics__title.title.title--dark.column-big Решения Acurella
				br
				| легко масштабируются
			p.statistics__desc.text-2--2 Разработки компании поддерживают одновременную работу: десятков административных сотрудников; тысяч филиалов; десятков рекламодателей; тысяч операторов. СРА-решения обрабатывают сотни тысяч конверсий в день, а СRM-решения — десятки тысяч заказов.
		.statistics__bottom
			.item-st
				.item-st__wrap
					p.item-st__ttl 0,3 сек
					p.item-st__text Время отклика системы
			.item-st
				.item-st__wrap
					p.item-st__ttl 10 лет
					p.item-st__text Ожидаемый срок службы
			.item-st
				.item-st__wrap
					p.item-st__ttl 99,95%
					p.item-st__text Времени безотказной работы