section.description.description--scm
	.container
		.description__top
			.description__row
				.description__col
					img(src="img/svg/description_scm_1.svg", alt="image")
				.description__desc
					p.description__ttl.title.title--dark.title--3 Планирование цепочек поставок
					p.description__text.text-2--1 Система позволяет формировать графики, составлять прогнозы, проектировать сети поставок, моделировать разные ситуации и т.д.
			.description__row
				.description__desc
					p.description__ttl.title.title--dark.title--3 Выполнение цепочек поставок
					p.description__text.text-2--1 Следующий шаг — своевременный запуск, оперативное отслеживание и контроль реализации логистических операций.
				.description__col
					img(src="img/svg/description_scm_2.svg", alt="image")
		.description__bottom
			h2.description__title.title.title--dark.title--4 Готовы испытать все возможности ПО для колл-центров и отделов продаж?
			include ../../form-int