- var FUNCTIONS_SCM = LANG.scm.functions;

include ../../mixins/function.pug

-
	const functionIcoArray = [
		'img/svg/function_ico_scm_1.svg',
		'img/svg/function_ico_scm_2.svg',
		'img/svg/function_ico_scm_3.svg',
		'img/svg/function_ico_scm_4.svg',
		'img/svg/function_ico_scm_5.svg',
		'img/svg/function_ico_scm_6.svg',
	];

section.functions
	.container
		h2.functions__title.title.title--light.title--2= FUNCTIONS_SCM.title
		.functions__wrapper
			each item, key in FUNCTIONS_SCM.functionsArray
				+function(functionIcoArray[key], item.ttl, item.text)