- var INFORMATION_SCM = LANG.scm.information;

include ../../mixins/review

.information.information--yellow.information--prod
	.container
		+review('information_photo', INFORMATION_SCM.text, INFORMATION_SCM.name, INFORMATION_SCM.post)