- var INFORMATION_SCM = LANG.scm.information;

include ../../mixins/review

.information.information--yellow.information--prod
	.container
		+review('review_4', INFORMATION_SCM.text, INFORMATION_SCM.name, INFORMATION_SCM.post, '/img/svg/review_ico_4.svg')