section.integration.integration--scm
	.container
		h2.integration__title.title.title--dark.title--2 Простая интеграция
		p.integration__subtitle.text-2--2 С помощью инструментов API система может быть интегрирована с программным обеспечением Acurella, а также сторонним программным обеспечением.
		.integration__wrap
			.integration__info
				h2.integration__ttl.title.title--dark.title--3 Легкое планирование
				p.integration__text.text-2.text-2--1 Система помогает делать расчёт оптимального запаса для каждой позиции с учетом прогноза спроса и страхового запаса.
			.integration__col
				img.integration__img(src="img/svg/integration_scm_1.svg", alt="integration_scm")
	.integration__center
		h2.integration__ttl-small.title.title--dark.title--4 Широкие функциональные возможности
		.integration__slider.slider-int.js-integration-slider
			.slider-int__photo
				img(src="img/integration_slider_scm_1.jpg", alt="photo")
			.slider-int__photo
				img(src="img/integration_slider_scm_2.jpg", alt="photo")
			.slider-int__photo
				img(src="img/integration_slider_scm_3.jpg", alt="photo")
			.slider-int__photo
				img(src="img/integration_slider_scm_4.jpg", alt="photo")
	.container
		.integration__bottom
			img.integration__photo(src="img/svg/integration_scm_2.svg", alt="integration_scm")
			.integration__desc
				h2.integration__subject.title.title--dark.title--3 Автоматизиро&shy;ванная сортировка
				p.integration__text.text-2.text-2--1 Пользователи системы могут в несколько кликов группировать товары, задавать и создавать новые свойства в интерактивном режиме.