div.interruption
	.container
		h2.interruption__title.title.title--light.title--4 Закажите Демо — и проверьте возможности ПО 
			br
			| для управления взаимоотношениями с клиентами
		include ../form-int
