- var NEW_6 = LANG.new_6.content;


.new-content
	.container
		.new-content__wrapper
			.new-content__photo
				img.new-content__img(src="/img/new_6.jpg", alt="photo")
			.new-content__desc
				each text in NEW_6.block_1
					p.new-content__text.text-2.text-2--1!= text
			ul.new-content__list.list-new.text-2.text-2--1
				each text in NEW_6.list
					li.list-new__item!= text
			.new-content__desc
				each text in NEW_6.block_2
					p.new-content__text.text-2.text-2--1!= text