.new-content
	.container
		.new-content__wrapper
			.new-content__photo
				img.new-content__img(src="/img/new_6.jpg", alt="photo")
			.new-content__desc
				p.new-content__text.text-2.text-2--1 API (Application Programming Interface) — это интерфейс для программирования приложений, который позволяет упрощать взаимодействие различных приложений и систем без использования сложной IT-инфраструктуры.
				p.new-content__text.text-2.text-2--1 API помогает любому приложения «соединятся» с соответствующим ему сервером, в результате чего клиент может легко просматривать информацию или производить определенные действия. Говоря простым языком, менно API позволяет нам совершать регистрацию, покупку, подписку, не уходя с сайта. 
				p.new-content__text.text-2.text-2--1 Вы можете интегрировать CRM с мессенджерами либо сервисом имейл-рассылок и в считанные секунды импортировать все адреса клиентов. Либо подключить голосовой поиск для удобства пользователей.
				p.new-content__text.text-2.text-2--1 Пример функционала, который вы можете добавить на сайт через API:
			ul.new-content__list.list-new.text-2.text-2--1
				li.list-new__item чаты;
				li.list-new__item преднастроенные доступы с авторизацией для различных ролей;
				li.list-new__item сервисы аналитики;
				li.list-new__item опросы;
				li.list-new__item онлайн-оплата;
				li.list-new__item рекомендации;
				li.list-new__item публикация медиаконтента;
				li.list-new__item службы защиты данных;
				li.list-new__item поиск товаров и услуг;
				li.list-new__item сервисы отправки сообщений и т.д.
			.new-content__desc
				p.new-content__text.text-2.text-2--1 Решения Acurella поддерживают самую прогрессивную 3-стороннюю интеграцию: как с внутренними системами (CRM, CPA, SCM), так и с внешними.
				p.new-content__text.text-2.text-2--1 С помощью внешней интеграции можно значительно расширить возможности сайта, улучшить UX, автоматизировать обмен данными. Внутренняя интеграция помогает отладить бизнес-процессы самого предприятия. Пользователи могут легко выгрузить информацию о заказах, клиентах, историю посещений страниц и т.д.
				p.new-content__text.text-2.text-2--1 API-интеграция от Acurella — это возможность создавать отменный клиентский опыт и организовать бесперебойность процессов на любых масштабах.