header.header-new
	.container
		.header-new__content
			.header-new__col.date
				p.date__day 05
				p.date__month Апреля 
					br
					| 2020
			h1.header-new__title.title.title--dark.title--2 Преимущества API-интеграции