body
	font-family: 'Inter', sans-serif
	font-size: 18px
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscal
	text-size-adjust: none
	-moz-text-size-adjust: none
	-webkit-text-size-adjust: none
	-ms-text-size-adjust: none
	overflow-x: hidden
html
	overflow-x: hidden
	-ms-text-size-adjust: 100%
	-moz-text-size-adjust: 100%
	-webkit-text-size-adjust: 100%
::-ms-clear
	display: none
*:focus, *:visited, *:active, *:hover
	outline: 0!important
a, a:focus, a:visited, a:active, a:hover
	outline: 0!important
*::-moz-focus-inner
	border: 0
	outline: none
img
	max-width: 100%
ul, li
	list-style: none
// Font icons
.fico
	display: inline-block
	font-size: 3rem
	&::before
		display: block

//Колонки
.column
	max-width: 290px
	width: 100%
	margin-right: 40px
	flex-shrink: 0
	+r(1440)
		margin-right: 30px
		max-width: 270px
	+r(1300)
		max-width: 240px
	+r(1140)
		max-width: 220px
		margin-right: 20px
.column-big
	max-width: 400px
	width: 100%
	margin-right: 40px
	flex-shrink: 0
	+r(1440)
		margin-right: 30px
		max-width: 370px
	+r(1300)
		max-width: 330px
	+r(1140)
		max-width: 300px
		margin-right: 20px


//Розміри шрифтів заголовків
.title
	font-family: 'Montserrat', Arial, Helvetica, sans-serif
	font-weight: 500
	&--dark
		color: $grey
	&--light
		color: $white
	&--1
		font-size: 55px
		line-height: 110%
		+r(1440)
			font-size: 53px
		+r(1300)
			font-size: 50px
		+r(1140)
			font-size: 46px
		+r(1024)
			font-size: 40px
		+r(890)
			font-size: 35px
		+r(374)
			font-size: 32px
	&--2
		font-size: 50px
		line-height: 120%
		+r(1300)
			font-size: 46px
		+r(1140)
			font-size: 42px
		+r(1024)
			font-size: 40px
		+r(768)
			font-size: 38px
		+r(640)
			font-size: 34px
		+r(480)
			font-size: 30px
	&--3
		font-size: 35px
		line-height: 100%
		+r(1300)
			font-size: 32px
		+r(1024)
			font-size: 27px
		+r(768)
			font-size: 26px
		+r(480)
			font-size: 25px
	&--4
		font-size: 30px
		line-height: 130%
		+r(1024)
			font-size: 28px
		+r(768)
			font-size: 26px
		+r(640)
			font-size: 24px
		+r(480)
			font-size: 20px
	&--5
		font-size: 23px
		line-height: 130%
		+r(1300)
			font-size: 21px
		+r(1024)
			font-size: 20px

//Розміри шрифтів тексту
.text
	&-1
		font-size: 20px
		line-height: 150%
	&-2
		font-size: 18px
		&--1
			line-height: 160%
			+r(480)
				font-size: 16px
				line-height: 160%
		&--2
			line-height: 180%
			+r(480)
				font-size: 16px
				line-height: 160%
	&-3
		font-size: 16px
		line-height: 160%
		+r(1300)
			font-size: 15px
			line-height: 150%
		+r(640)
			font-size: 16px
			line-height: 160%
	&-4
		font-size: 14px
		line-height: 120%


//Кнопка
.btn
	outline: none
	cursor: pointer
	text-decoration: none
	font-family: 'Inter', sans-serif
	font-size: 16px
	text-align: center
	padding: 10px 18px
	border-radius: 5px
	width: 100%
	border: none
	display: block
	transition: all .3s
	&--full
		background: $light-blue
		color: $white
		&:hover
			background: #0084E4
	&--empty
		border: 1px solid $light-blue
		color: $white
		&:hover
			background: rgba(0, 176, 247, 0.1)
	&--empty-dark
		color: $grey
		border: 1px solid $grey
		&:hover
			border: 1px solid $light-blue
			background: rgba(0, 176, 247, 0.1)

//Стилі для інпатів і селекту
.input, .select2-container .select2-selection--single
	background: $white
	padding: 0 20px
	box-sizing: border-box
	font-size: 16px
	color: $grey
	outline: none
	border: none
	border-radius: 0
	height: 60px
	border: 1px solid #CFD8E0
	border-radius: 10px
	transition: all .3s
	+placeholder
		font-family: 'Inter', sans-serif
		font-size: 16px
		color: $light-grey
	&:hover, &:focus
		background: #F2FBFF
		border: 1px solid $light-blue
	+r(768)
		height: 50px
.textarea
	border-radius: 10px
	background: $white
	padding: 20px
	box-sizing: border-box
	font-size: 16px
	color: $grey
	outline: none
	font-family: 'Inter', sans-serif
	resize: none
	border: 1px solid #CFD8E0
	transition: all .3s
	+placeholder
		font-family: 'Inter', sans-serif
		font-size: 16px
		color: $light-grey
	&:hover, &:focus
		background: #F2FBFF
		border: 1px solid $light-blue
.select2
	box-sizing: border-box
	&-dropdown
		background: #FFFFFF
		box-shadow: 0px 20px 50px rgba(22, 21, 44, 0.15)
		border-radius: 10px !important
		border: none
		overflow: hidden
	&-container
		.select2-selection--single
			.select2-selection__rendered
				padding: 0
		&--default
			.select2-selection--single
				.select2-selection__rendered
					color: $grey
		.select2-selection
			&--single
				background-color: $white
				border: none
				border-radius: 10px
				.select2-selection__placeholder
					color: $light-grey
					font-size: 16px
				.select2-selection__rendered
					padding: 0
				.select2-selection__arrow
					width: 12px
					height: 7px
					background: url('../img/svg/arrow-select.svg') no-repeat center
					background-size: 100%
					top: 50%
					transform: translateY(-50%)
					right: 15px
					transition: all .3s
					b
						display: none
		&--open
			.select2-selection__arrow
				transform: translateY(-50%) rotate(180deg) !important
			.select2-results__option
				font-size: 16px
				padding: 15px 0
				padding-left: 20px
				+nlt
					border-bottom: 1px solid #CFD8E0
			.select2-results__option--highlighted[aria-selected]
				background: #E4F7FF
				color: $grey
			.select2-results__option[aria-selected=true]
				background: #E4F7FF



//sliders
.slick-slide
	outline: none
.slick-dots
	display: flex
	justify-content: flex-start
	align-items: center
	&--dark
		li
			background: transparentize($grey, .6)
			&.slick-active
				background: $grey
	&--light
		li
			background: transparentize($white, .8)
			&.slick-active
				background: $light-blue
	li
		width: 8px
		height: 8px
		border-radius: 50%
		flex-shrink: 0
		cursor: pointer
		+nlt
			margin-right: 32px
	button
		display: none

.slick-arrow
	position: absolute
	border: none
	cursor: pointer
	outline: 0
	z-index: 1
	background: none
	font-size: 0
	overflow: visible
	padding: 0
	.fico
		font-size: 40px
		outline: 0
		color: $grey
		transition: all .3s
		line-height: 1
	&:hover
		.fico
			color: $light-blue
	&.next
		padding-right: 0
	&.prev
		transform: scaleX(-1.1)
	+r(480)
		.fico
			font-size: 30px


//checkbox
.checkbox
	display: flex
	align-items: flex-start
	position: relative
	padding-left: 50px
	cursor: pointer
	font-size: 16px
	line-height: 160%
	color: $light-grey
	user-select: none
	+r(768)
		padding-left: 40px
	+r(480)
		font-size: 14px
	&__input
		position: absolute
		opacity: 0
		cursor: pointer
		height: 0
		width: 0
		&:checked 
			~ .checkbox__checkmark
				background-color: $light-blue
				.fico
					opacity: 1
					color: $white
	&__checkmark
		position: absolute
		top: 5px
		left: 0
		height: 20px
		width: 20px
		background-color: white
		border: 1px solid $light-blue
		border-radius: 5px
		display: flex
		align-items: center
		justify-content: center
		transition: all .3s
		.fico
			opacity: 0
			color: $white
			font-size: 9px
			transition: all .3s

//overlay
.overlay
	opacity: 0
	position: fixed
	top: 0
	left: 0
	right: 0
	bottom: 0
	width: 100%
	height: 100%
	z-index: 9
	background: transparentize(#827EB9, .5)
	transition: all .5s
	pointer-events: none
	&.active
		opacity: 1
		pointer-events: visible


//Стили для блока статистики
.item-st
	padding-top: 35px
	padding-bottom: 45px
	font-family: 'Montserrat', Arial, Helvetica, sans-serif
	width: 100%
	max-width: 400px
	&--grey
		.item-st__ttl
			color: $grey
	&--green
		.item-st__ttl
			color: #38A6A9
	&--orange
		.item-st__ttl
			color: #FFA800
	&--gold
		.item-st__ttl
			color: #A79873
	&:nth-child(n+2)
		border-left: 1px solid #CFD8E0
		max-width: 440px
		display: flex
		align-items: center
		flex-direction: column
	+r(1440)
		max-width: 370px
		&:nth-child(n+2)
			width: calc(100%/2)
	+r(1300)
		max-width: 330px
		&::before
			left: calc(50% - 682px)
	+r(1140)
		max-width: 300px
		padding-top: 25px
		padding-bottom: 35px
	+r(1024)
		padding: 20px 0
		width: calc(100%/3)
		max-width: 100%
		padding-right: 20px
		&:nth-child(n+2)
			padding: 20px
			width: calc(100%/3)
	+r(480)
		padding: 0
		&:nth-child(n+2)
			border-left: none
			padding: 0
			padding-left: 20px
	+r(374)
		width: 100%
		&:nth-child(n+2)
			width: 100%
			padding-left: 0
			display: block
		+nlt
			margin-bottom: 20px
	&__ttl
		font-size: 80px
		line-height: 100%
		font-weight: 600
		margin-bottom: 8px
		color: $blue
		+r(1300)
			font-size: 66px
		+r(1140)
			font-size: 52px
		+r(1024)
			font-size: 44px
		+r(768)
			font-size: 36px
		+r(640)
			font-size: 32px
			margin-bottom: 5px
		+r(480)
			font-size: 25px
	&__text
		font-weight: 500
		font-size: 20px
		line-height: 150%
		color: $grey
		+r(1140)
			font-size: 18px
		+r(1024)
			line-height: 120%
			font-size: 17px
		+r(768)
			font-size: 16px
		+r(640)
			font-size: 15px
		+r(480)
			font-size: 14px

//Стили для блока отзыва
.review
	display: flex
	padding-left: 70px
	+r(1300)
		padding-left: 60px
	+r(1024)
		padding-left: 0
	+r(768)
		display: block
	&__left
		max-width: 550px
		width: 100%
		padding-top: 56px
		flex-shrink: 0
		margin-right: 40px
		position: relative
		&::before
			content: ''
			display: block
			position: absolute
			top: -18px
			right: 95px
			width: 111px
			height: 110px
			background: url('../img/svg/information_photo_decor.svg') no-repeat center
			background-size: 100%
		+r(1440)
			max-width: 491px
			&::before
				right: 35px
		+r(1300)
			max-width: 441px
		+r(1140)
			max-width: 381px
			&::before
				right: -5px
		+r(1024)
			max-width: 350px
			padding-top: 35px
			&::before
				top: -28px
		+r(890)
			max-width: 290px
			margin-right: 30px
			&::before
				width: 91px
				height: 90px
				top: 2px
				right: 15px
		+r(768)
			padding-top: 0
			margin-right: 0
			margin-bottom: 30px
			&::before
				top: -48px
				right: -35px
		+r(640)
			max-width: 270px
		+r(480)
			max-width: 253px
			margin: auto
			margin-bottom: 47px
			&::before
				width: 70px
				height: 69px

	&__photo-wrap
		max-width: 400px
		width: 100%
		border-radius: 10px
		overflow: hidden
		font-size: 0
		+r(1440)
			max-width: 380px
		+r(1300)
			max-width: 370px
		+r(1140)
			max-width: 330px
		+r(1024)
			max-width: 100%
	.fico
		color: #0051AF
		margin-bottom: 53px
		font-size: 54px
		+r(1300)
			margin-bottom: 40px
		+r(1140)
			margin-bottom: 32px
	&__text-wrap
		padding-bottom: 50px
		margin-bottom: 41px
		border-bottom: 1px solid #84CBFF
		+r(1300)
			padding-bottom: 40px
			margin-bottom: 30px
		+r(1140)
			padding-bottom: 30px
			margin-bottom: 20px
		+r(480)
			padding-bottom: 26px
			margin-bottom: 9px
	&__text
		color: $white
		font-size: 22px
		line-height: 150%
		max-width: 96%
		+r(1024)
			font-size: 20px
			max-width: 100%
		+r(640)
			font-size: 19px
		+r(480)
			font-size: 18px
			line-height: 140%
	&__bottom
		display: flex
		align-items: center
	&__desc
		color: #84CBFF
		margin-right: 42px
		+r(480)
			margin-right: 20px
	&__name
		font-family: 'Montserrat', Arial, Helvetica, sans-serif
		font-weight: 500
		font-size: 28px
		line-height: 130%
		margin-bottom: 9px
		+r(1024)
			font-size: 26px
		+r(640)
			font-size: 24px
		+r(480)
			font-size: 20px
	&__post
		font-size: 14px
	&__callcenter
		width: 128px
		+r(480)
			width: 95px


.list-tasks
	&__item
		position: relative
		padding-left: 40px
		+nlt
			margin-bottom: 6px
		&::before
			content: ''
			display: block
			position: absolute
			top: 13px
			left: 0
			width: 8px
			height: 8px
			border-radius: 50%
			background: #028BFC
		+r(1140)
			padding-left: 30px
			+nlt
				margin-bottom: 4px
		+r(768)
			&::before
				top: 11px
		+r(640)
			padding-left: 20px




// .container
// 	background: repeating-linear-gradient(90deg, #edc1c133, #edc1c133 70px, transparent 70px, transparent 110px)
// 	+r(1440)
// 		background: repeating-linear-gradient(90deg, #edc1c133, #edc1c133 70px, transparent 70px, transparent 100px)
// 	+r(1300)
// 		background: repeating-linear-gradient(90deg, #edc1c133, #edc1c133 60px, transparent 60px, transparent 90px)
// 	+r(1140)
// 		background: repeating-linear-gradient(90deg, #edc1c133, #edc1c133 60px, transparent 60px, transparent 80px)
// 	+r(1024)
// 		background: none