body
	font-family: 'Inter', sans-serif
	font-size: 18px
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscal
	text-size-adjust: none
	-moz-text-size-adjust: none
	-webkit-text-size-adjust: none
	-ms-text-size-adjust: none
	overflow-x: hidden
html
	-ms-text-size-adjust: 100%
	-moz-text-size-adjust: 100%
	-webkit-text-size-adjust: 100%
::-ms-clear
	display: none
*:focus, *:visited, *:active, *:hover
	outline: 0!important
a, a:focus, a:visited, a:active, a:hover
	outline: 0!important
*::-moz-focus-inner
	border: 0
	outline: none
img
	max-width: 100%

// Font icons
.fico
	display: inline-block
	font-size: 3rem
	&::before
		display: block

//Колонки
.column
	max-width: 290px
	width: 100%
	margin-right: 40px
	flex-shrink: 0
.column-big
	max-width: 400px
	width: 100%
	margin-right: 40px
	flex-shrink: 0

//Розміри шрифтів заголовків
.title
	font-family: 'Montserrat', Arial, Helvetica, sans-serif
	font-weight: 500
	&--dark
		color: $grey
	&--light
		color: $white
	&--1
		font-size: 55px
		line-height: 110%
	&--2
		font-size: 50px
		line-height: 120%
	&--3
		font-size: 35px
		line-height: 100%
	&--4
		font-size: 30px
		line-height: 130%
	&--5
		font-size: 23px
		line-height: 130%

//Розміри шрифтів тексту
.text
	&-1
		font-size: 20px
		line-height: 150%
	&-2
		font-size: 18px
		&--1
			line-height: 160%
		&--2
			line-height: 180%
	&-3
		font-size: 16px
		line-height: 160%
	&-4
		font-size: 14px
		line-height: 120%


//Кнопка
.btn
	outline: none
	cursor: pointer
	text-decoration: none
	font-family: 'Inter', sans-serif
	font-size: 16px
	text-align: center
	padding: 10px 18px
	border-radius: 5px
	width: 100%
	border: none
	&--full
		background: $light-blue
		color: $white
	&--empty
		border: 1px solid $light-blue
		color: $white
	&--empty-dark
		color: $grey
		border: 1px solid $grey


//Стилі для інпатів і селекту
.input, .select2-container .select2-selection--single
	background: $white
	padding: 0 20px
	box-sizing: border-box
	font-size: 16px
	color: $light-grey
	outline: none
	border: none
	border-radius: 0
	+placeholder
		font-family: 'Inter', sans-serif
		font-size: 16px
		color: $light-grey
.select2
	box-sizing: border-box
	&-dropdown
		background: #FFFFFF
		box-shadow: 0px 35px 60px rgba(54, 44, 98, 0.2)
		border-radius: 10px
		border: none
		overflow: hidden
	&-container
		.select2-selection--single
			.select2-selection__rendered
				padding: 0
		&--default
			.select2-selection--single
				.select2-selection__rendered
					color: $light-grey
		.select2-selection
			&--single
				background-color: $white
				border: none
				border-radius: 0px
				.select2-selection__placeholder
					color: $light-grey
					font-size: 16px
				.select2-selection__rendered
					padding: 0
				.select2-selection__arrow
					width: 12px
					height: 7px
					background: url('../img/svg/arrow-select.svg') no-repeat center
					background-size: 100%
					top: 50%
					transform: translateY(-50%)
					right: 15px
					transition: all .3s
					b
						display: none
		&--open
			.select2-selection__arrow
				transform: translateY(-50%) rotate(180deg) !important
			.select2-results__option
				font-size: 16px
				padding-left: 20px
			.select2-results__option[aria-selected=true]
				background: transparentize($blue, .8)
			.select2-results__option--highlighted[aria-selected]
				background: transparentize($blue, .2)


//sliders
.slick-slide
	outline: none
.slick-dots
	display: flex
	justify-content: flex-start
	align-items: center
	&--dark
		li
			background: transparentize($grey, .6)
			&.slick-active
				background: $grey
	// &--light
	// 	li
	// 		border: 1px solid transparentize($white, .6)
	// 		&.slick-active
	// 			border: 1px solid $white
	li
		width: 8px
		height: 8px
		border-radius: 50%
		flex-shrink: 0
		cursor: pointer
		+nlt
			margin-right: 32px
	button
		display: none

.slick-arrow
	position: absolute
	border: none
	cursor: pointer
	outline: 0
	z-index: 1
	background: none
	font-size: 0
	overflow: visible
	padding: 0
	.fico
		font-size: 40px
		outline: 0
		color: transparentize($grey, .6)
		transition: all .3s
		line-height: 1
	&:hover
		.fico
			color: $grey
	&.next
		padding-right: 0
	&.prev
		transform: scaleX(-1.1)