include ../../mixins/advantage.pug

-
	const advantageArray = [
		'Ускоренный процесс создания, запуска и тести&shy;рования маркетинговых кампаний для веб-мастеров',
		'Упрощенный контроль над реализацией офферов для рекламо- дателей (в т.ч. антифлуд- решения)',
		'Автоматизированный анализ показателей производитель&shy;ости системы для администраторов сети.'
	];

section.advantages-prod.advantages-prod--orange
	.container
		.advantages-prod__wrap
			+advantage(advantageArray)