- var CAPABILITIES_CPA = LANG.cpa.capabilities;

include ../../mixins/list-optm


section.capabilities
	.container
		h2.capabilities__title.title.title--dark.title--3= CAPABILITIES_CPA.title
		.capabilities__wrap
			.capabilities__left
				img.capabilities__img(src="/img/svg/capabilities_cpa.svg", alt="integration_crm")
			+list-optm(CAPABILITIES_CPA.listArrayCapabilities)