- var FAQ_CPA = LANG.cpa.faq;

include ../../mixins/question


section.faq
	.container
		.faq__wrapper
			.faq__left.column-big
				h2.faq__title.title.title--dark.title--2= FAQ_CPA.title
				.faq__info.faq__info--desc
					p.faq__text.text-3= FAQ_CPA.desc
					a.faq__link-email(href="mailto:support@acurella-tl.com") support@acurella-tl.com
			.faq__right.js-accordeon
				each question in FAQ_CPA.questionArray
					+question(question)
			.faq__info.faq__info--mob
				p.faq__text.text-3= FAQ_CPA.desc
				a.faq__link-email(href="mailto:support@acurella-tl.com") support@acurella-tl.com