- var FUNCTIONS_CPA = LANG.cpa.functions;

include ../../mixins/function.pug

-
	const functionIcoArray = [
		'img/svg/function_ico_cpa_1.svg',
		'img/svg/function_ico_cpa_2.svg',
		'img/svg/function_ico_cpa_3.svg',
		'img/svg/function_ico_cpa_4.svg',
		'img/svg/function_ico_cpa_5.svg',
		'img/svg/function_ico_cpa_6.svg',
	];

section.functions
	.container
		h2.functions__title.title.title--light.title--2= FUNCTIONS_CPA.title
		.functions__wrapper
			each item, key in FUNCTIONS_CPA.functionsArray
				+function(functionIcoArray[key], item.ttl, item.text)