header.header-main
	.container
		.header-main__content
			h2.header-main__title.title.title--light.title--1 Cost Per Action Marketing (CPA)
			p.header-main__text.text-2--1 Сетевая платформа для аффилированного маркетинга создана с целью помочь рекламодателю и веб-мастеру взаимовыгодно посотрудничать, а владельцам СРА-сетей — проконтролировать выполнение условий сделки.
			a.header-main__btn.btn.btn--empty(href="#") Узнать подробнее
		.header-main__wrap-img
			img.header-main__img(src="img/preview_cpa.png", alt="cpa")