- var INFORMATION_CPA = LANG.cpa.information;

include ../../mixins/review

.information.information--purple.information--prod
	.container
		+review('review_photo_cpa', INFORMATION_CPA.text, INFORMATION_CPA.name, INFORMATION_CPA.post)