section.statistics-prod
	.container
		.statistics-prod__top
			h2.statistics-prod__title.title.title--dark.column-big Контроль СРА сети&nbsp;на 360°
			p.statistics-prod__desc.text-2--2 Высокотехнологичное решение для СРА-сетей позволяет в режиме реального времени управлять партнерской сетью, рекламными материалами и отношениями с аффилированными лицами.
		.statistics-prod__bottom
			.item-st.item-st--orange
				.item-st__wrap
					p.item-st__ttl 35+
					p.item-st__text Стран в обслужи&shy;вании
			.item-st.item-st--orange
				.item-st__wrap
					p.item-st__ttl 24/7
					p.item-st__text Круглосуточная поддержка
			.item-st.item-st--orange
				.item-st__wrap
					p.item-st__ttl 3 800
					p.item-st__text Более 3 800 пользова&shy;телей