- var FACTS = LANG.cereer.facts;

mixin fact(src, ttl, text)
	.fact
		.fact__top
			img.fact__img(src=src, alt="icon")
			p.fact__ttl.title.title--dark.title--5!=ttl
		p.fact__text.text-3!=text

-
	const factImages = [
		'img/svg/fact_1.svg',
		'img/svg/fact_2.svg',
		'img/svg/fact_3.svg',
		'img/svg/fact_4.svg',
		'img/svg/fact_5.svg',
		'img/svg/fact_6.svg',
	];

section.facts
	.container
		h2.facts__title.title.title--dark.title--3= FACTS.title
		.facts__wrapper
			each fact, key in FACTS.factArray
				+fact(factImages[key], fact.ttl, fact.text)