div.interruption
	.container
		h2.interruption__title.title.title--light.title--4 Не нашли вашу вакансию в списке?
			br
			| Отправьте нам резюме: мы всегда рады новым талантам
		button.interruption__btn.btn.btn--full(data-target="#") Связаться с нами