- var INTERRUPTION_CERRER = LANG.cereer.interruption;
- var BUTTONS = LANG.btns;

div.interruption
	.container
		h2.interruption__title.title.title--light.title--4!= INTERRUPTION_CERRER.title
		button.interruption__btn.btn.btn--full(data-target="#")= BUTTONS.btn_text_4