section.team-cereer
	.container
		.team-cereer__inner
			.team-cereer__desc
				h2.philosophy__title.title.title--dark.title--2 Наша команда
				.philosophy__desc
					p.philosophy__text.text-2.text-2--1 Acurella — это мультинациональная группа амбициозных специалистов с глубокой экспертизой в сфере высоких технологий. Каждый наш проект с клиентами — это важная стратегическая задача, в решение которой включается вся команда.
					p.philosophy__text.text-2.text-2--1 Управление проектами осуществляется с использованием методологии SCRUM и делится на двухнедельные скрипты. При этом каждый этап внедрения ПО контролируется как топ-менеджментом Acurella, так и топ-менеджментом компании-заказчика.
			.team-cereer__photos.photos
				.photos__wrap.photos__wrap--1
					img.photos__item(src="img/photo_1.jpg", alt="photo")
				.photos__wrap.photos__wrap--2
					img.photos__item(src="img/photo_2.jpg", alt="photo")
				.photos__wrap.photos__wrap--3
					img.photos__item(src="img/photo_3.jpg", alt="photo")
				.photos__wrap.photos__wrap--4
					img.photos__item(src="img/photo_4.jpg", alt="photo")