- var TEAM_CERRER = LANG.cereer.team;

section.team-cereer
	.container
		.team-cereer__inner
			.team-cereer__desc
				h2.philosophy__title.title.title--dark.title--2= TEAM_CERRER.title
				.philosophy__desc
					p.philosophy__text.text-2.text-2--1= TEAM_CERRER.text_1
					p.philosophy__text.text-2.text-2--1= TEAM_CERRER.text_2
			.team-cereer__photos.photos
				.photos__wrap.photos__wrap--1
					img.photos__item(src="/img/photo_1.jpg", alt="photo")
				.photos__wrap.photos__wrap--2
					img.photos__item(src="/img/photo_2.jpg", alt="photo")
				.photos__wrap.photos__wrap--3
					img.photos__item(src="/img/photo_3.jpg", alt="photo")
				.photos__wrap.photos__wrap--4
					img.photos__item(src="/img/photo_4.jpg", alt="photo")