.new-content
	.container
		.new-content__wrapper
			.new-content__photo
				img.new-content__img(src="img/new_1.jpg", alt="photo")
			.new-content__desc
				p.new-content__text.text-2.text-2--1 Компании, которые продают массовый продукт на широкую аудиторию, сталкиваются с необходимостью постоянно привлекать новых клиентов.
				p.new-content__text.text-2.text-2--1 Автоматизировать и оптимизировать процесс помогают CPA-сети — посредники между рекламодателями и веб-мастерами. При этом первые получают качественный трафик, а вторые — оговоренную оплату за свою работу. 
				p.new-content__text.text-2.text-2--1 Создавая систему для маркетинга, Acurella ставила цель максимально упростить и обезопасить процесс взаимодействия сторон за счет цифровизации их работы. CPA-решением одновременно могут пользоваться 4 стороны:
			ul.new-content__list.list-new.text-2.text-2--1
				li.list-new__item Рекламодатели (настраивать офферы и управлять ими, отслеживать качество трафика, проводить оплату).
				li.list-new__item Веб-мастера (находить офферы через удобную систему фильтров, запускать и редактировать промо-материалы, проводить тесты).
				li.list-new__item Администраторы сети (следить за прозрачностью взаимодействия рекламодателей и веб-мастеров).
				li.list-new__item Топ-менеджеры компании (следить за производительностью команды через агрегированную отчетность).
			.new-content__desc
				p.new-content__text.text-2.text-2--1 Таким образом, решение для СРА-маркетинга помогает рекламодателям и веб-мастерам эффективно обмениваться услугами, снизив зависимость от ручного фактора.