header.header-new
	.container
		.header-new__content
			.header-new__col.date
				p.date__day 12
				p.date__month Сентября 
					br
					| 2020
			h1.header-new__title.title.title--dark.title--2 Теперь СPА-маркетингом управлять проще: новая система от Acurella