mixin question(question)
	.question
		.question__top.js-btn-accordeon
			h3.question__ttl.title.title--dark!=question.ttl
			i.fico.fico-questionArrow
		p.question__text.text-2--1.js-info-accordeon!=question.text