mixin review(src, text, name, post, ico)
	.review
		.review__left
			.review__photo-wrap
				picture
					source(srcset='/img/' + src + '@2x.jpg 2x, /img/' + src + '.webp 1x')
					img.review__photo(src='/img/' + src + '.jpg', alt="photo")
		.review__right
			i.fico.fico-mark
			.review__text-wrap
				p.review__text!=text
			.review__bottom
				.review__desc
					p.review__name!=name
					p.review__post!=post
				img.review__callcenter(src=ico, alt="ico")