extends templates/layout/layout.pug
block head
	title About us
block content
	include templates/mixins/menu.pug
	+menu("about")
	include templates/about/header
	include templates/about/philosophy
	include templates/about/team
	include templates/about/solutions
	include templates/news
	include templates/about/interruption
