extends templates/layout/layout.pug
block head
	title Cereer
block content
	include templates/cereer/header
	include templates/cereer/vacancies
	include templates/cereer/team
	include templates/cereer/facts
	include templates/cereer/interruption
