extends templates/layout/layout-dark.pug
block head
	title Cookie Policy
block content
	include templates/mixins/menu-dark.pug
	+menu-dark("cookie-policy")
	include templates/privacy/сookie/header
	include templates/privacy/сookie/content
	include templates/privacy/interruption