extends templates/layout/layout.pug
block head
	title Acurella
block content
	include templates/main/advantages
	include templates/main/information
	include templates/main/support
	include templates/main/news