extends templates/layout/layout.pug
block head
	title Acurella
block content
	//- include templates/main/header
	//- include templates/main/products
	//- include templates/main/chart
	//- include templates/main/statistics
	//- include templates/main/functions
	//- include templates/main/advantages
	//- include templates/main/information
	//- include templates/main/support
	include templates/main/news