extends templates/layout/layout-dark.pug
block head
	title Теперь СPА-маркетингом управлять проще: новая система от Acurella
block content
	include templates/news/new-2/header
	include templates/news/new-2/content
	include templates/news