extends templates/layout/layout-dark.pug
block head
	title Как COVID-19 навсегда изменил бизнес-процессы
block content
	include templates/news/new-1/header
	include templates/news/new-1/content
	include templates/news