extends templates/layout/layout-dark.pug
block head
	title Эталонная работа операторов и менеджеров за счет современной CRM
block content
	include templates/news/new-3/header
	include templates/news/new-3/content
	include templates/news