extends templates/layout/layout-dark.pug
block head
	title Политика конфиденциальности
block content
	include templates/mixins/menu-dark.pug
	+menu-dark("politics-confidentiality")
	include templates/privacy/header
	include templates/privacy/content
	include templates/privacy/interruption