extends templates/layout/layout-dark.pug
block head
	title Politics Confidentiality
block content
	include templates/mixins/menu-dark.pug
	+menu-dark("politics-confidentiality")
	include templates/privacy/privacy/header
	include templates/privacy/privacy/content
	include templates/privacy/interruption