extends templates/layout/layout.pug
block head
	title Customer Relationship Management (CRM)
block content
	include templates/mixins/menu.pug
	+menu("product-crm")
	include templates/products/crm/header
	include templates/products/crm/statistics
	include templates/products/crm/advantages
	include templates/products/crm/description
	include templates/products/crm/functions
	include templates/products/crm/integration
	include templates/products/crm/logistics
	include templates/products/crm/functions-additional
	include templates/products/crm/information
	include templates/products/crm/faq
	include templates/products/crm/interruption