extends templates/layout/layout.pug
block head
	title Supply Chain Management (SCM)
block content
	include templates/mixins/menu.pug
	+menu("product-scm")
	include templates/products/scm/header
	include templates/products/scm/statistics
	include templates/products/scm/advantages
	include templates/products/scm/description
	include templates/products/scm/functions
	include templates/products/scm/integration
	include templates/products/scm/information
	include templates/products/scm/faq
	include templates/products/scm/interruption