extends templates/layout/layout.pug
block head
	title Cost Per Action Marketing (CPA)
block content
	include templates/mixins/menu.pug
	+menu("product-cpa")
	include templates/products/cpa/header
	include templates/products/cpa/statistics
	include templates/products/cpa/advantages
	include templates/products/cpa/description
	include templates/products/cpa/functions
	include templates/products/cpa/integration
	include templates/products/cpa/capabilities
	include templates/products/cpa/information
	include templates/products/cpa/faq
	include templates/products/cpa/interruption