extends templates/layout/layout-dark.pug
block head
	title Front-End, React Developer (AI-Based Platform)
block content
	include templates/mixins/menu-dark.pug
	+menu-dark("vacancy-6")
	include templates/vacancies/vacancy-6/header
	include templates/vacancies/vacancy-6/content
	include templates/cereer/interruption
