extends templates/layout/layout-dark.pug
block head
	title Project manager / Coordinator
block content
	include templates/mixins/menu-dark.pug
	+menu-dark("vacancy-4")
	include templates/vacancies/vacancy-4/header
	include templates/vacancies/vacancy-4/content
	include templates/cereer/interruption
