extends templates/layout/layout-dark.pug
block head
	title QA Engineer Middle
block content
	include templates/mixins/menu-dark.pug
	+menu-dark("vacancy-3")
	include templates/vacancies/vacancy-3/header
	include templates/vacancies/vacancy-3/content
	include templates/cereer/interruption
