extends templates/layout/layout-dark.pug
block head
	title Tech/Team Lead JS Developer
block content
	include templates/mixins/menu-dark.pug
	+menu-dark("vacancy-2")
	include templates/vacancies/vacancy-2/header
	include templates/vacancies/vacancy-2/content
	include templates/cereer/interruption
