extends templates/layout/layout-dark.pug
block head
	title Senior QA Engineer
block content
	include templates/mixins/menu-dark.pug
	+menu-dark("vacancy-1")
	include templates/vacancies/vacancy-1/header
	include templates/vacancies/vacancy-1/content
	include templates/cereer/interruption
